<div class="course-details-wrap">
  <div class="top-nav">
    <div class="container top-nav-container">
      <ul id="top-nav-ul" class="common-ul-style">
        <li>
          <a href="#">Home</a><span class="edu-caret right"></span>
        </li>
        <li>
          <a href="#">Academic Courses</a><span class="edu-caret right"></span>
        </li>
        <li>
          <a href="#">Class-Five-Mathematics</a><span class="edu-caret right"></span>
        </li>
        <li>
          <a href="#">Algebraic-Expressions</a><span class="edu-caret right"></span>
        </li>
      </ul>
    </div>
  </div><!-- Top nav -->
  <div class="algebra-wrap bg2 white">
    <div class="algebra-container container">
      <div class="algebra-row row">
        <div class="algebra-content col-sm-9">
          <h3>Algebraic Expression</h3>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          <div class="ratings-wrap">
            <ul class="ratings-ul common-ul-style">
              <li>
                <ul id="star-ul" class="common-ul-style">
                  <li>
                    <a href="#"><i class="fa fa-star checked"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-star checked"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-star checked"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-star checked"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-star checked"></i></a>
                  </li>
                </ul><!-- Star list -->
              </li>
              <li>
                <span>4.5</span>(15,000 ratings)
              </li>
              <li>
                <span>25,000</span>students enrolled
              </li>
            </ul>
          </div><!-- Ratings wrap -->
          <p>Uploaded by <span>Ali Jafar</span></p>
        </div>
        <div class="algebra-video col-sm-3">
          <img width="100%" height="100%" class="img-responsive" src="assets/images/courses/course-details.png" alt="Course details">
          <!--<div class="video-container">-->
            <!--<iframe src="https://www.youtube.com/embed/z9Ul9ccDOqE" frameborder="0" width="853" height="480" allowfullscreen></iframe>-->
            <!--</div>&lt;!&ndash; Video container &ndash;&gt;-->
        <!--</div>-->
      </div>
    </div>
  </div>
</div><!-- Algebraic expressions -->

  <div class="what-learn">
    <div class="wl-container container">
      <div class="wl-row row">
        <div class="wl-left-col col-md-9">
          <div class="learn-item">
            <h3>What will you learn?</h3>
            <ul class="common-ul-style learn-item-ul">
              <li>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
              </li>
              <li>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
              </li>
              <li>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
              </li>
              <li>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
              </li>
              <li>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
              </li>
            </ul>
            <a href="#" class="view-more ml30">View More</a>
          </div><!-- Learn item  -->
          <div class="requirements-item">
            <h3>Requirements</h3>
            <ul class="requirements-item-ul common-ul-style">
              <li>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting indus</p>
              </li>
              <li>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting indus</p>
              </li>
              <li>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting indus</p>
              </li>
              <li>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting indus</p>
              </li>
            </ul>
          </div><!-- Requirements item -->
          <div class="curriculum-item clearfix">
            <div class="row pt20">
              <div class="col-sm-8">
                <h3 class="main-title">Curriculum for this course</h3>
              </div>
              <div class="col-sm-2 text-right"><p>15 lectures</p></div>
              <div class="col-sm-2 text-right"><p>2.05 hours</p></div>
            </div>
            <div class="course-curriculum">
              <div class="collapse-table-wrap">
                <div class="collapse-item">
                  <a href="#collapseOne" data-toggle="collapse" aria-expanded="false" aria-controls="collapseTwo">
                    <div class="c-table-row">
                      <div class="c-icon"><i class="fa fa-plus"></i></div>
                      <div class="c-content">Lorem Ipsum is simply dummy text of the printing</div>
                      <div class="c-lecture">3 lectures</div>
                      <div class="c-time">10.35pm</div>
                    </div>
                  </a>
                  <div id="collapseOne" class="collapse collapse-body">
                    <div class="body-item clearfix">
                      <div class="item-left pull-left">
                        <i class="fa fa-play-circle"></i>Introduction
                      </div>
                      <div class="item-right pull-right">10.25</div>
                    </div><!-- body-item -->
                    <div class="body-item clearfix">
                      <div class="item-left pull-left">
                        <i class="fa fa-play-circle"></i>Introduction
                      </div>
                      <div class="item-right pull-right">10.25</div>
                    </div><!-- body-item -->
                    <div class="body-item clearfix">
                      <div class="item-left pull-left">
                        <i class="fa fa-play-circle"></i>Introduction
                      </div>
                      <div class="item-right pull-right">10.25</div>
                    </div><!-- body-item -->
                  </div>
                </div><!-- collapse-item -->

                <div class="collapse-item">
                  <a href="#collapseTwo" data-toggle="collapse" aria-expanded="false" aria-controls="collapseTwo">
                    <div class="c-table-row">
                      <div class="c-icon"><i class="fa fa-plus"></i></div>
                      <div class="c-content">Lorem Ipsum is simply dummy text of the printing</div>
                      <div class="c-lecture">3 lectures</div>
                      <div class="c-time">10.35pm</div>
                    </div>
                  </a>
                  <div id="collapseTwo" class="collapse collapse-body">fdsfsdkfs,mdfnm,sndf,mns,df</div>
                </div><!-- collapse-item -->

                <div class="collapse-item">
                  <a href="#collapseThree" data-toggle="collapse" aria-expanded="false" aria-controls="collapseTwo">
                    <div class="c-table-row">
                      <div class="c-icon"><i class="fa fa-plus"></i></div>
                      <div class="c-content">Lorem Ipsum is simply dummy text of the printing</div>
                      <div class="c-lecture">3 lectures</div>
                      <div class="c-time">10.35pm</div>
                    </div>
                  </a>
                  <div id="collapseThree" class="collapse collapse-body">fdsfsdkfs,mdfnm,sndf,mns,df</div>
                </div><!-- collapse-item -->
              </div>







            </div>
          </div><!-- Curriculum-item -->
          <div class='curriculum-tabs'>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#content-tab" role="tab" aria-controls="home" aria-selected="true">
                  Description
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#description-tab" role="tab" aria-controls="profile" aria-selected="false">Feedback</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#resource-tab" role="tab" aria-controls="contact" aria-selected="false">Reviews</a>
              </li>
            </ul>
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane fade show active" id="content-tab">
                <div class='inner-body'>
                  <p> Upload main type of content </p>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="description-tab">
                <div class='inner-body'>
                  <p> Curriculum Descriptions </p>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="resource-tab">
                <div class='inner-body'>
                  <p> Add your resources </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="wl-right-col col-md-3">
          <div class="course-price bottom-box-shadow ">
            <div class="text-content">
              Course Fee: <strong>Free</strong>
            </div>
            <p>Have a Coupon? <a href="#">Click Here</a></p>
            <div class="form-group mb10">
              <a href="#" class="btn primary-btn width-100">Buy Now</a>
            </div>
            <div class="form-group">
              <a href="#" class="btn default-btn width-100">Add to Cart</a>
            </div>
            <p class="mb0">This course include:</p>
            <ul class="course-include-ul">
              <li>2.00 hours on demand video</li>
              <li>15 lectures</li>
              <li>10 resource file</li>
              <li>Full lifetime excess</li>
              <li>Certificate on completion</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div><!-- What will learn -->
</div>
