<div class="course-details-wrap">
  <div class="top-nav" *ngIf="category">
    <div class="container top-nav-container">
      <ul id="top-nav-ul" class="common-ul-style">
        <li>
          <a routerLink="/">Home</a><span class="edu-caret right"></span>
        </li>
        <li *ngIf="category.slug">
          <a routerLink="/c/{{category.slug}}"> {{category.title}} </a>
          <span class="edu-caret right"></span>
        </li>
        <li>
          <a href="javascript:void(0);"> {{course.title}} </a>
          <span class="edu-caret right"></span>
        </li>
      </ul>
    </div>
  </div><!-- Top nav -->
  <div class="algebra-wrap bg2 white">
    <div class="algebra-container container">
      <div class="algebra-row row">
        <div class="algebra-content col-md-9 col-sm-6 col-xs-12">
          <h3> {{course.title}} </h3>
          <p>
            {{course.description}}
          </p>
          <div class="ratings-wrap">
            <ul class="ratings-ul common-ul-style">
              <li>
                <ul class="star-ul common-ul-style">
                  <li>
                    <a href="#"><i class="fa fa-star checked"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-star checked"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-star checked"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-star checked"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-star checked"></i></a>
                  </li>
                </ul><!-- Star list -->
              </li>
              <li>
                <span>4.5</span>(15,000 ratings)
              </li>
              <li>
                <span>25,000</span>students enrolled
              </li>
            </ul>
          </div><!-- Ratings wrap -->
          <p>Uploaded by <span> {{author.first_name}} {{author.last_name}} </span></p>
        </div>
        <div class="algebra-video col-md-3 col-sm-6 col-xs-12">
          <img width="100%" height="100%" class="img-responsive" src="assets/images/courses/course-details.png"
               alt="Course details">
        </div>
      </div>
    </div>
  </div><!-- Algebraic expressions -->

  <div class="subscription-nav white-bg">
    <div class="sub-nav-container container">
      <ul class="sub-nav-ul-style nav nav-tabs" role="tablist">
        <li>
          <a class="active" data-toggle="tab" href="#overview-tab" role="tab" aria-controls="overview-tab" aria-selected="true">Overview</a>
        </li>
        <li>
          <a data-toggle="tab" href="#course-details-tab" role="tab" aria-controls="course-details-tab" aria-selected="true">Course Details</a>
        </li>
        <li>
          <a data-toggle="tab" href="#course-content-tab" role="tab" aria-controls="course-content-tab" aria-selected="false">Course Content</a>
        </li>
        <li>
          <a data-toggle="tab" href="#announcement-tab" role="tab" aria-controls="announcement-tab" aria-selected="false">Announcement</a>
        </li>
        <li>
          <a data-toggle="tab" href="#q-a-tab" role="tab" aria-controls="q-a-tab" aria-selected="false">Q&A</a>
        </li>
        <li>
          <a data-toggle="tab" href="#exam-tab" role="tab" aria-controls="exam-tab" aria-selected="false">Exam</a>
        </li>
        <li>
          <a data-toggle="tab" href="#more-tab" role="tab" aria-controls="more-tab" aria-selected="false">
            More <span class="edu-caret down"></span>
          </a>
        </li>
      </ul>
    </div>
  </div><!-- Subscription nav menu -->

  <div class="tab-content what-learn">
    <div id="overview-tab" class="tab-pane fade show active" role="tabpanel">
      <div class="overview-wrap">
        <div class="overview-container container pb50">
          <div class="recent-activity">
            <h3 class="main-title">Recent Activity</h3>
            <div class="row">
              <div class="col-sm-8">
                <table class="table edu-table-default table-responsive">
                  <thead>
                  <tr>
                    <th colspan="3">Recent Questions</th>
                    <th class="custom-btn"><a>Ask Question</a></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td class="profile-pic">
                      <a><img src="assets/images/newaj.jpg" alt="Profile pic"></a>
                    </td>
                    <td class="description">
                      <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply
                        dummy text of the printing and typesetting industry.
                      </p>
                      <span>1 day ago</span>
                    </td>
                    <td class="like">0 <br>Likes</td>
                    <td class="answer">1 <br>Answer</td>
                  </tr>
                  <tr>
                    <td class="profile-pic">
                      <a><img src="assets/images/newaj.jpg" alt="Profile pic"></a>
                    </td>
                    <td class="description">
                      <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply
                        dummy text of the printing and typesetting industry.
                      </p>
                      <span>1 day ago</span>
                    </td>
                    <td class="like">0 <br>Likes</td>
                    <td class="answer">1 <br>Answer</td>
                  </tr>
                  <tr>
                    <td class="profile-pic">
                      <a><img src="assets/images/newaj.jpg" alt="Profile pic"></a>
                    </td>
                    <td class="description">
                      <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply
                        dummy text of the printing and typesetting industry.
                      </p>
                      <span>1 day ago</span>
                    </td>
                    <td class="like">0 <br>Likes</td>
                    <td class="answer">1 <br>Answer</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td colspan="3">
                      <a class="see-all">See All</a>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-sm-4">
                <table class="table edu-table-default table-responsive">
                  <thead>
                  <tr>
                    <th colspan="3">Tutor Announcements</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td class="description">
                      <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply
                        dummy text of the printing and typesetting industry.
                      </p>
                      <span>1 day ago</span>
                    </td>
                    <td class="description">
                      <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply
                        dummy text of the printing and typesetting industry.
                      </p>
                      <span>1 day ago</span>
                    </td>
                    <td class="description">
                      <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply
                        dummy text of the printing and typesetting industry.
                      </p>
                      <span>1 day ago</span>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="3">
                      <a class="see-all">See All</a>
                    </td>
                  </tr>

                  </tbody>
                </table>
              </div>
            </div>
          </div><!-- Recent activity -->
          <div class="tabs-item">
            <div class='curriculum-tabs'>
              <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" data-toggle="tab" href="#overview-tab-1" role="tab" aria-controls="home"
                     aria-selected="true">
                    Description
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#overview-tab-2" role="tab" aria-controls="profile"
                     aria-selected="false">Feedback</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#overview-tab-3" role="tab" aria-controls="contact"
                     aria-selected="false">Reviews</a>
                </li>
              </ul>
              <div class="tab-content tab-content-default">
                <div role="tabpanel" class="tab-pane fade show active" id="overview-tab-1">
                  <div class='inner-body'>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mattis ante libero, in gravida nisl
                      volutpat ut. Mauris vitae suscipit dolor, id condimentum dolor. Donec cursus mattis egestas.
                      Curabitur consequat sollicitudin dictum. Pellentesque quis diam sit amet mauris rutrum tempor.
                      Fusce imperdiet faucibus urna ut tempus. Maecenas pulvinar congue tortor non mollis. Etiam non
                      erat auctor, aliquam magna eget, commodo dolor. Vestibulum in enim laoreet, bibendum sapien non,
                      eleifend erat.
                    </p>
                  </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="overview-tab-2">
                  <div class='inner-body'>
                    <p> Curriculum Descriptions </p>
                  </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="overview-tab-3">
                  <div class='inner-body'>
                    <p> Add your resources </p>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- Curriculum tabs -->
          <div class="tutor-info-item">
            <div class="about-tutor-wrap mb0">
              <h3 class="main-title">About the Tutor</h3>
              <div class="tutor-content bottom-box-shadow">
                <div class="profile-view text-center">
                  <img class="img-responsive" src="assets/images/newaj.jpg" alt="Tutor pic">
                  <p>Online <span class="fa fa-circle"></span></p>
                  <a href="" class="btn default-btn-sm">Follow Me</a>
                </div>
                <div class="profile-info">
                  <h4>Ali Jafar</h4>
                  <div class="ratings-wrap">
                    <ul class="ratings-ul common-ul-style">
                      <li>
                        <ul class="star-ul common-ul-style">
                          <li>
                            <a href="#"><i class="fa fa-star checked"></i></a>
                          </li>
                          <li>
                            <a href="#"><i class="fa fa-star checked"></i></a>
                          </li>
                          <li>
                            <a href="#"><i class="fa fa-star checked"></i></a>
                          </li>
                          <li>
                            <a href="#"><i class="fa fa-star checked"></i></a>
                          </li>
                          <li>
                            <a href="#"><i class="fa fa-star checked"></i></a>
                          </li>
                        </ul><!-- Star list -->
                      </li>
                      <li>
                        <span>4.5</span>(15,000 ratings)
                      </li>
                      <li>
                        <span>25,000</span>students enrolled
                      </li>
                    </ul>
                  </div><!-- Ratings wrap -->
                  <span>Mathematics</span>
                  <p>
                    "Best course I've taken on Udemy. Solid course. I'm in the middle of starting a business and this is
                    perfect. I had heard about how
                    Best course I've taken on Udemy. Solid course. I'm in the middle of starting a business and this is
                    perfect. I had heard about how
                    Best course I've taken on Udemy. Solid course. I'm in the middle of starting a business and this is
                    perfect. I had heard about how
                  </p>
                  <div class='user-stats-section'>
                    <section>
                      <span> Online Students </span>
                      40,000
                    </section>
                    <section>
                      <span> Courses </span>
                      7
                    </section>
                    <section>
                      <span> Live Clases </span>
                      5
                    </section>
                    <section>
                      <span> Followers </span>
                      55,000
                    </section>
                    <section>
                      <span> Following </span>
                      73
                    </section>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- Tutor info item -->
          
          <hr/>

          <h3 class="main-title mb20">Related courses: </h3>
          <div class='course-listing'>
            <div class='row'>
              <div class='col-lg-12'>
               <div class='row'>
                <div class="course-block col-sm-3" *ngFor="let course of related_course">
                  <div class='image-header' [style.background-image]="thumb(course.image)"> </div>
                  <div class="course-body">
                    <h3> 
                      <a class='edu-link-default' routerLink="/courses/{{course.id}}"> {{course.title}} </a>
                    </h3>
                    <div class='course-details'>  </div>
                    <div class='course-footer'>
                      <div class='author'> {{course.user}} </div>
                      <div class='general-ratting mt4 mb3'>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                      </div>
                      <div class='course-fee clearfix'> 
                        <b class='pull-right'> {{course.price ? course.price_currency + " " + course.price : 'Free'}} </b>
                      </div>
                    </div>
                  </div>
                </div>
               </div>
             </div>
            </div>
          </div>

        </div>
      </div>
    </div><!-- Overview -->
    <div id="course-details-tab" class="tab-pane fade wl-container container" role="tabpanel">
      <div class="wl-row row">
        <div class="wl-left-col col-md-9 col-sm-6 col-xs-12">
          <div class="learn-item">
            <h3>What will you learn?</h3>
            <ul class="common-ul-style learn-item-ul">
              <li *ngFor="let learn of course_goal.what_to_learn">
                <p>
                 {{learn.name}}
                </p>
              </li>
            </ul>
            <!-- <a href="#" class="view-more ml30">View More</a> -->
          </div><!-- Learn item  -->
          <div class="requirements-item">
            <h3>Requirements</h3>
            <ul class="requirements-item-ul common-ul-style">
              <li *ngFor="let requirement of course_goal.requirements">
                <p> {{requirement.name}} </p>
              </li>
            </ul>
          </div><!-- Requirements item -->
          <div class="curriculum-item clearfix">
            <div class="row pt20">
              <div class="col-sm-8">
                <h3 class="main-title">Curriculum for this course</h3>
              </div>
              <div class="col-sm-2 text-right"><p *ngIf="lectures"> {{lectures.length}} lectures</p></div>
              <div class="col-sm-2 text-right"><p>2.05 hours</p></div>
            </div>
            <div class="course-curriculum" *ngIf="lectures">
              <div class="collapse-table-wrap">
                <div class="collapse-item" *ngFor="let lecture of lectures">
                  <a href="#collapseOne_{{lecture.id}}" data-toggle="collapse" aria-expanded="false" aria-controls="collapseTwo">
                    <div class="c-table-row">
                      <div class="c-icon"><i class="fa fa-plus"></i></div>
                      <div class="c-content"> {{lecture.title}} </div>
                      <div class="c-time">10.35pm</div>
                    </div>
                  </a>
                  <div id="collapseOne_{{lecture.id}}" class="collapse collapse-body">
                    <div class="body-item clearfix">
                      <div class="item-left pull-left">
                        <i class="fa fa-play-circle"></i> 
                        {{lecture.description}}
                      </div>
                      <div class="item-right pull-right">10.25</div>
                    </div><!-- body-item -->
                  </div>
                </div><!-- collapse-item -->
              </div>
            </div>
          </div><!-- Curriculum collapse item -->
          <div class="tabs-item">
            <div class='curriculum-tabs'>
              <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" data-toggle="tab" href="#content-tab" role="tab" aria-controls="home"
                     aria-selected="true">
                    Description
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#description-tab" role="tab" aria-controls="profile"
                     aria-selected="false">Feedback</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#resource-tab" role="tab" aria-controls="contact"
                     aria-selected="false">Reviews</a>
                </li>
              </ul>
              <div class="tab-content tab-content-default">
                <div role="tabpanel" class="tab-pane fade show active" id="content-tab">
                  <div class='inner-body'>
                    <p>
                      {{course.description}}
                    </p>
                  </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="description-tab">
                  <div class='inner-body'>
                    <p> Curriculum Descriptions </p>
                  </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="resource-tab">
                  <div class='inner-body'>
                    <p> Add your resources </p>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- Curriculum tabs -->
          <div class="tutor-info-item">
            <div class="about-tutor-wrap border-bottom">
              <h3 class="main-title">About the Tutor</h3>
              <div class="tutor-content bottom-box-shadow">
                <div class="profile-view text-center">
                  <img class="img-responsive" src="assets/images/newaj.jpg" alt="Tutor pic" *ngIf="!author.image">
                  <img class="img-responsive" src="{{env.assets_host}}{{author.image}}" alt="Tutor pic" *ngIf="author.image">
                  <p>Online <span class="fa fa-circle"></span></p>
                  <a href="" class="btn default-btn-sm">Follow Me</a>
                </div>
                <div class="profile-info">
                  <h4> {{author.first_name}} {{author.last_name}} </h4>
                  <div class="ratings-wrap">
                    <ul class="ratings-ul common-ul-style">
                      <li>
                        <ul class="star-ul common-ul-style">
                          <li>
                            <a href="#"><i class="fa fa-star checked"></i></a>
                          </li>
                          <li>
                            <a href="#"><i class="fa fa-star checked"></i></a>
                          </li>
                          <li>
                            <a href="#"><i class="fa fa-star checked"></i></a>
                          </li>
                          <li>
                            <a href="#"><i class="fa fa-star checked"></i></a>
                          </li>
                          <li>
                            <a href="#"><i class="fa fa-star checked"></i></a>
                          </li>
                        </ul><!-- Star list -->
                      </li>
                      <li>
                        <span>4.5</span> (15,000 ratings)
                      </li>
                      <li>
                        <span>25,000</span> students enrolled
                      </li>
                    </ul>
                  </div><!-- Ratings wrap -->
                  <span>Mathematics</span>
                  <p>
                    {{author.about_me}}
                  </p>
                  <div class='user-stats-section'>
                    <section>
                      <span> Online Students </span>
                      40,000
                    </section>
                    <section>
                      <span> Courses </span>
                      7
                    </section>
                    <section>
                      <span> Live Clases </span>
                      5
                    </section>
                    <section>
                      <span> Followers </span>
                      55,000
                    </section>
                    <section>
                      <span> Following </span>
                      73
                    </section>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- Tutor info item -->

          <div class="other-course-item">
            <div class="subject-group p20">
              <h3 class="main-title">Other Mathematics courses of Class Five</h3>
              <div class="grid-wrap mb20">
                <div class="grid-item">
                  <img src="assets/images/courses/math.png" class="img-responsive" alt="Math pic">
                  <div class="subject-info">
                    <a href="#">Mathematics</a>
                    <p>Ali Jafar</p>
                    <div class="star-wrap">
                      <ul class="star-item common-ul-style">
                        <li>
                          <a href="#"><i class="fa fa-star checked"></i></a>
                        </li>
                        <li>
                          <a href="#"><i class="fa fa-star checked"></i></a>
                        </li>
                        <li>
                          <a href="#"><i class="fa fa-star checked"></i></a>
                        </li>
                        <li>
                          <a href="#"><i class="fa fa-star checked"></i></a>
                        </li>
                        <li>
                          <a href="#"><i class="fa fa-star checked"></i></a>
                        </li>
                      </ul><!-- Star list -->
                    </div>
                    <div class="text-right price">
                      <span>
                        <i class="fa fa-dollar"></i>350
                      </span>
                      <strong>
                        <i class="fa fa-dollar"></i>Free
                      </strong>
                    </div>
                  </div>
                </div><!-- Grid item -->
                <div class="grid-item">
                  <img src="assets/images/courses/math.png" class="img-responsive" alt="Math pic">
                  <div class="subject-info">
                    <a href="#">Mathematics</a>
                    <p>Ali Jafar</p>
                    <div class="star-wrap">
                      <ul class="star-item common-ul-style">
                        <li>
                          <a href="#"><i class="fa fa-star checked"></i></a>
                        </li>
                        <li>
                          <a href="#"><i class="fa fa-star checked"></i></a>
                        </li>
                        <li>
                          <a href="#"><i class="fa fa-star checked"></i></a>
                        </li>
                        <li>
                          <a href="#"><i class="fa fa-star checked"></i></a>
                        </li>
                        <li>
                          <a href="#"><i class="fa fa-star checked"></i></a>
                        </li>
                      </ul><!-- Star list -->
                    </div>
                    <div class="text-right price">
                      <span>
                        <i class="fa fa-dollar"></i>350
                      </span>
                      <strong>
                        <i class="fa fa-dollar"></i>Free
                      </strong>
                    </div>
                  </div>
                </div><!-- Grid item -->
                <div class="grid-item">
                  <img src="assets/images/courses/math.png" class="img-responsive" alt="Math pic">
                  <div class="subject-info">
                    <a href="#">Mathematics</a>
                    <p>Ali Jafar</p>
                    <div class="star-wrap">
                      <ul class="star-item common-ul-style">
                        <li>
                          <a href="#"><i class="fa fa-star checked"></i></a>
                        </li>
                        <li>
                          <a href="#"><i class="fa fa-star checked"></i></a>
                        </li>
                        <li>
                          <a href="#"><i class="fa fa-star checked"></i></a>
                        </li>
                        <li>
                          <a href="#"><i class="fa fa-star checked"></i></a>
                        </li>
                        <li>
                          <a href="#"><i class="fa fa-star checked"></i></a>
                        </li>
                      </ul><!-- Star list -->
                    </div>
                    <div class="text-right price">
                      <span>
                        <i class="fa fa-dollar"></i>350
                      </span>
                      <strong>
                        <i class="fa fa-dollar"></i>Free
                      </strong>
                    </div>
                  </div>
                </div><!-- Grid item -->
                <div class="grid-item">
                  <img src="assets/images/courses/math.png" class="img-responsive" alt="Math pic">
                  <div class="subject-info">
                    <a href="#">Mathematics</a>
                    <p>Ali Jafar</p>
                    <div class="star-wrap">
                      <ul class="star-item common-ul-style">
                        <li>
                          <a href="#"><i class="fa fa-star checked"></i></a>
                        </li>
                        <li>
                          <a href="#"><i class="fa fa-star checked"></i></a>
                        </li>
                        <li>
                          <a href="#"><i class="fa fa-star checked"></i></a>
                        </li>
                        <li>
                          <a href="#"><i class="fa fa-star checked"></i></a>
                        </li>
                        <li>
                          <a href="#"><i class="fa fa-star checked"></i></a>
                        </li>
                      </ul><!-- Star list -->
                    </div>
                    <div class="text-right price">
                      <span>
                        <i class="fa fa-dollar"></i>350
                      </span>
                      <strong>
                        <i class="fa fa-dollar"></i>Free
                      </strong>
                    </div>
                  </div>
                </div><!-- Grid item -->
              </div><!-- CSS grid -->
            </div><!-- Subject group -->
          </div><!-- Other-course-item -->

        </div>
        <div class="wl-right-col col-md-3 col-sm-6 col-xs-12">
          <div class="course-price bottom-box-shadow ">
            <div class="text-content">
              Course Fee: <strong>Free</strong>
            </div>
            <p>Have a Coupon? <a href="#">Click Here</a></p>
            <div class="form-group mb10">
              <a href="#" class="btn primary-btn width-100">Buy Now</a>
            </div>
            <div class="form-group">
              <a href="#" class="btn default-btn width-100">Add to Cart</a>
            </div>
            <p class="mb0">This course include:</p>
            <ul class="course-include-ul">
              <li>2.00 hours on demand video</li>
              <li>15 lectures</li>
              <li>10 resource file</li>
              <li>Full lifetime excess</li>
              <li>Certificate on completion</li>
            </ul>
          </div>
        </div>
      </div>
    </div><!-- Course details -->
    <div id="course-content-tab" class="tab-pane fade" role="tabpanel">
      <div class="course-content-wrap pb30">
        <div class="course-content-container container" *ngFor="let lecture of lectures; let i = index">
          <div class="tutorial-section">
            <div class="tutorial-head">
              <div class="clearfix">
                <span class="pull-left">Lecture: {{i + 1}}</span>
                <span class="pull-right">{{i + 1}}/{{lectures.length}}</span>
              </div>
              <h4>{{lecture.title}}</h4>
            </div>
            <div class="tutorial-list">
              <ul class="common-ul-style tutorial-list-ul">
                <li>
                  <a routerLink="/courses/{{course.id}}/lectures/{{lecture.id}}">
                    <div class="video-play"><i class="fa fa-play-circle"></i></div>
                    <div class="info">
                      {{lecture.description}}
                    </div>
                    <div class="time">3.14pm</div>
                    <div class="radio"></div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
    </div>
    </div><!-- Course content -->
    <div id="announcement-tab" class="tab-pane fade" role="tabpanel">
      <div class="announcement-wrap">
        <div class="announcement-container container mt30 pb60">
          <div class="comments-wrap">
            <div class="comments-head border-bottom">
              <img src="assets/images/newaj.jpg" alt="">
              <div class="info">
                <h3>Ali Jafar</h3>
                <span>posted 2 days ago</span>
              </div>
            </div>
            <div class="comments-content">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
            </div>
          </div><!-- Comments wrap -->
          <div class="comments-list">
            <div class="list-container">
              <div class="comments-head mb15 border-bottom">
                <img src="assets/images/newaj.jpg" alt="">
                <div class="info">
                  <form class="" role="form">
                    <input type="email" class="input-inner form-control" >
                  </form>
                </div>
              </div>
              <div class="comments-head mb15 border-bottom">
                <img src="assets/images/newaj.jpg" alt="">
                <div class="info">
                  <h3>Ali Jafar</h3>
                  <span>posted 2 days ago</span>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum is simply dummy text of the printing and types</p>
                </div>
              </div>
              <div class="comments-head mb15 border-bottom">
                <img src="assets/images/newaj.jpg" alt="">
                <div class="info">
                  <h3>Ali Jafar</h3>
                  <span>posted 2 days ago</span>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum is simply dummy text of the printing and types</p>
                </div>
              </div>
            </div>

          </div><!-- Comments list -->
        </div>
      </div>
    </div><!-- Course announcement -->
    <div id="q-a-tab" class="custom-note tab-pane fade" role="tabpanel">We are working here....</div><!-- Q&A -->




    <div id="exam-tab" class="tab-pane fade" role="tabpanel">
      <div class="course-exam-wrap">
        <div class="course-exam-container text-center">
          <div class="course-exam-content">
            <p class="mb70">Before enrolling in the exam, make sure you have completed all the lectures.</p>
            <strong class="mb40">Are you ready?</strong>
            <a href="#" class="btn primary-btn">Start Now</a>
          </div>
        </div>
      </div>
    </div><!-- Exam -->




    <div id="more-tab" class="custom-note tab-pane fade" role="tabpanel">We are working here....</div><!-- More -->
  </div><!-- What will learn -->
</div>
