<section id="main-menu"><!-- Main menu -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <!-- Brand and toggle get grouped for better mobile display -->
        <a class="edutube-navbar-brand navbar-brand" routerLink="/"> EDUTUBE </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div  class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <li class="nav-item dropdown thumb-dropdown">
              <a href="#" class="nav-link dropdown-togglex" data-toggle="dropdown">Categories <i class="edu-caret down"></i></a>
              <ul class="dropdown-menu edu-dropdown-menu" role="menu">
                <li role="presentation" class="dropdown-header">
                  <div class="dropdown-li-head">
                    <strong>Academic Courses</strong>
                    <p>See All</p>
                  </div>
                </li>
                <li class="nav-item dropdown thumb-dropdown nav-item-nested">
                  <a href="#" class="nav-link dropdown-togglex" data-toggle="dropdown">
                    PSC
                    <span class="edu-caret right"></span>
                  </a>
                  <ul class="dropdown-menu edu-dropdown-menu custom-place" role="menu">
                    <li role="presentation" class="dropdown-header">
                      <a href="">Bangla</a>
                    </li>
                    <li role="presentation" class="dropdown-header">
                      <a href="">English</a>
                    </li>
                    <li role="presentation" class="dropdown-header">
                      <a href="">Mathematics</a>
                    </li>
                    <li role="presentation" class="dropdown-header">
                      <a href="">Religion</a>
                    </li>
                    <li role="presentation" class="dropdown-header">
                      <a href="">Science</a>
                    </li>
                  </ul>
                </li>
                <li role="presentation" class="dropdown-header" *ngFor="let cat of header_categories"> 
                  <div class="dropdown-li-head">
                    <strong> {{cat.title}} </strong>
                    <p> 
                      <a [routerLink]="['c/' + cat.slug]" class='text-link'> See All </a> 
                    </p>
                  </div>
                </li>
              </ul>
              <!-- <ul class="dropdown-menu edu-dropdown-menu" role="menu">
                <li role="presentation" class="dropdown-header">
                  <div class="dropdown-li-head">
                    <strong>Academic Courses</strong>
                    <p>See All</p>
                  </div>
                </li>
                <li class="nav-item dropdown thumb-dropdown nav-item-nested">
                  <a href="#" class="nav-link dropdown-togglex" data-toggle="dropdown">
                    PSC
                    <span class="edu-caret right"></span>
                  </a>
                  <ul class="dropdown-menu edu-dropdown-menu custom-place" role="menu">
                    <li role="presentation" class="dropdown-header">
                      <a href="">Bangla</a>
                    </li>
                    <li role="presentation" class="dropdown-header">
                      <a href="">English</a>
                    </li>
                    <li role="presentation" class="dropdown-header">
                      <a href="">Mathematics</a>
                    </li>
                    <li role="presentation" class="dropdown-header">
                      <a href="">Religion</a>
                    </li>
                    <li role="presentation" class="dropdown-header">
                      <a href="">Science</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="#">
                    Secondary
                    <span class="edu-caret right"></span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    JSC
                    <span class="edu-caret right"></span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    SSC
                    <span class="edu-caret right"></span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    HSC
                    <span class="edu-caret right"></span>
                  </a>
                </li>

                <li role="presentation" class="dropdown-header">
                  <div class="dropdown-li-head">
                    <strong>Special Courses</strong>
                    <p>See All</p>
                  </div>
                </li>
                <li>
                  <a href="#">
                    Development
                    <span class="edu-caret right"></span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    Design
                    <span class="edu-caret right"></span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    IT & Software
                    <span class="edu-caret right"></span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    Business
                    <span class="edu-caret right"></span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    Marketing
                    <span class="edu-caret right"></span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    HRMS
                    <span class="edu-caret right"></span>
                  </a>
                </li>
              </ul> -->
            </li>
          </ul>
          <form class="form-inline mr-auto navbar-form" (ngSubmit)="search();">
            <input class="navbar-search-input" placeholder="Search..." name="term" [(ngModel)]="term">
          </form>
          <ul class="navbar-nav navbar-right right-menu-container">
            <li class="nav-item"><a routerLink="/courses" class='nav-link'>Courses</a></li>
            <li class="nav-item"><a routerLink="/" class='nav-link'>Become a Tutor</a></li>
            <li class="nav-item">
              <a routerLink="/" class='nav-link'>
                <img src="/assets/images/shopping-cart.png" class="img-responsive" alt="">
              </a>
            </li>
              <li class="nav-item dropdown" *ngIf="auth">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{user.first_name}}
                </a>
                <div class="dropdown-menu dropdown-menu-right custom-dropdown" aria-labelledby="navbarDropdown">
                  <div class="nav-dropdown-profile">
                    <div class='avatar'>
                      <img src="{{env.assets_host}}{{user.avatar}}" alt="profile image" *ngIf="user.avatar"/>
                      <img src="/assets/images/no_profile.png" *ngIf="!user.avatar"/>
                    </div>
                    <div class='info-section'>
                      <b> {{user.first_name}} {{user.last_name}} </b>
                      <div class='email'> {{user.email}} </div>
                    </div>
                  </div>
                  <a class="dropdown-item" routerLink="/profile">
                    <i class="fa fa-user-circle-o gray-icon mid-size-icon mr20"></i> &nbsp; My Profile
                  </a>
                  <a class="dropdown-item" routerLink="/home" *ngIf="user.user_type=='student'">
                    <i class="fa fa-home gray-icon mid-size-icon mr20"></i> &nbsp; My Home
                  </a>
                  <a class="dropdown-item" routerLink="/instructor/dashboard" *ngIf="user.user_type=='teacher'">
                    <i class="fa fa-home gray-icon mid-size-icon mr20"></i> &nbsp; My Home
                  </a>
                  <a class="dropdown-item" routerLink="/profile">
                    <i class="fa fa-envelope gray-icon mr20"></i> &nbsp; My Messages
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" routerLink="/settings">
                    <i class="fa fa-cog gray-icon mid-size-icon mr20"></i> &nbsp; Settings
                  </a>
                  <a class="dropdown-item" routerLink="/settings">
                    <i class="fa fa-info-circle gray-icon mid-size-icon mr20"></i> &nbsp; Help
                  </a>
                  <a style="margin-top: 5px" routerLink="/logout" class="dropdown-item">
                    <i class="fa fa-power-off gray-icon mid-size-icon mr20"></i> &nbsp; Logout
                  </a>
                </div>
              </li>
              <li class="nav-item" *ngIf="!auth">
                <a style="margin-top: 5px" data-target="#login-modal" data-toggle="modal" class="btn default-btn-sm">Sign in</a>
              </li>
              <li class="nav-item" *ngIf="!auth">
                <a style="margin-top: 5px" data-target="#registration-modal" data-toggle="modal" class="btn primary-btn-sm">Sign up</a>
              </li>
          </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
  </section><!-- Main menu End-->
