
// Body
$body-bg: #f5f8fa;

/* Google fonts */
$primary-font: 'Open Sans', sans-serif;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// EduTube Theme
$primary-color: #fff;
$secondary-color: #f1f1f1;
//$tertiary-color: #000;
$icon-color: #333333;
$ash-shadow: #a3a3a3;
$primary-btn: #ef294a;
$pink-shadow: #d01e3c;
$boder-color: #e3e3e3;

/* Color name declaration */
$white: $primary-color;
$off-white: $secondary-color;
$ash: $ash-shadow;
$pink: $primary-btn;
$deep-pink: $pink-shadow;
$off-black: $icon-color;

/* Social icon color */
$facebook: #3b5998;
$twitter: #1da1f2;
$youtube: #ff0000;
$linkedin: #007bb5;

