
.profile-top-bar {
	padding: 5px 0;
}

#profile-edit-page {
  background: #F5F7F8;
}

.edu-panel-default {
  background: #ffffff;
  padding: 25px 25px 20px 25px;
  margin-bottom: 20px;
  border: solid 1px #cccccc;
  border-radius: 5px;
  .panel-header {
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 10px;
  }

  .panel-body {
    .inner-panel {
    	padding: 15px 10px;
    	background: #ffffff;
    	margin-bottom: 10px;
    	border: solid 1.5px #cccccc;
    	border-radius: 5px; 
    }
  }
}

.profile-avatar-wrapper {
	text-align: center;
	border-right: solid 1px #cccccc;
  .profile-avatar {
    	width: 127px;
    	height: 127px;
    	padding: 20px;
    	border-radius: 100%;
    	margin: auto;
    	margin-bottom: 8px;
      img {
        width: 100%;
        height: 100%;
        border-radius: 100%;
      }
    }
}

.edu-pill-wrapper {
  background: #ffffff;
  padding: 0;
  margin-bottom: 20px !important;
  border: solid 1px #cccccc;
  border-radius: 5px;
  a {
  	&.nav-link {
  		display: block;
      font-size: 14px;
      width: 100%;
      padding: .25rem 1.5rem;
      clear: both;
      font-weight: 400;
      color: #212529;
      text-align: inherit;
      white-space: nowrap;
      background-color: transparent;
      border: 0;
      cursor: pointer;
      padding-bottom: 15px;
      padding-top: 15px;
      border-bottom: solid 1px #cccccc;
      border-radius: 0;
  		&:last-child {
  			border-bottom: none;
  		}
  	}
  	&.active {
  		background: transparent !important;
  		font-weight: bold;
  		border-left: solid 3px #ED003D;
  		color: #333333 !important;
  	}
  }
}

.side-panel-default {
  background: #ffffff;
  border: solid 1px #cccccc;
  border-radius: 4px;
  margin-bottom: 10px;
  .panel-header {
    border-bottom: solid 1px #cccccc;
  }
  .section-header {
    font-weight: bold;
    margin-bottom: 7px;
    font-size: 15px;
  }
  .panel-space-body {
    padding: 10px 30px;  
  }
  section {
    padding: 10px;
    border-bottom: solid 1px #cccccc;
  }
}

#profile-page {
  background: #fdfdfd;
  padding-bottom: 50px;
}

.profile-education-list {
  li {
    padding: 0 3px 5px 20px;
    position: relative;
    &:before {
      position: absolute;
      top: 2px;
      color: #999999;
      font-family: 'FontAwesome';
      content: "\f05d";
      left: 0;
    }
  }
}

.nav-dropdown-profile {
  background: $secondary-color;
  padding: 15px 10px 20px 10px;
  margin-bottom: 4px;
  .info-section {
    margin: 5px 0 0 65px;
    .email {
      font-size: 11px;
    }
  }

  .avatar {
    border-radius: 100%;
    width: 45px;
    height: 45px;
    float: left;
    img {
      height: 100%;
      width: 100%;
      border-radius: 100%;
    }
  }
}