@import "variables";

* {
  &:focus {
    outline: none !important;
    box-shadow: none !important;
  }
}

.hints {
  font-size: 14px;
  font-family: 'Railway';
}

.primary-header, .primary-header-white {
  font-family: $primary-font;
  font-weight: bold;
  font-size: 22px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.primary-header {
  color: $icon-color;
}

.primary-header-white {
  color: $white;
}

/* Button design for edutube */
/*
*primary-btn
*primary-btn-sm
*default-btn
*default-btn-sm
*settings-default-btn
*guest-default-btn
*block-default-btn
*/
.primary-btn, .default-btn {
  min-width: 180px;
  min-height: 40px;
  display: inline-block;
  text-align: center;
  line-height: 28px !important;
  font-size: 15px !important;
}
.primary-btn, .primary-btn-sm {
  font-family: $primary-font;
  font-weight: normal;
  font-size: 14px !important;
  padding: 4px 16px !important;
  color: $white !important;
  background-color: $pink;
  border-bottom: 2px solid $deep-pink !important;
  &:hover {
    color: $white;
    cursor: pointer;
    text-decoration: none;
    border-bottom: 2px solid $pink !important;
  }
}

.default-btn, .default-btn-sm {
  font-family: $primary-font;
  font-weight: normal;
  font-size: 14px !important;
  padding: 4px 16px !important;
  color: $icon-color !important;
  background-color: $secondary-color;
  border-bottom: 2px solid #c7c7c7 !important;
  &:hover {
    color: $icon-color;
    cursor: pointer;
    text-decoration: none;
    border-bottom: 2px solid $secondary-color !important;
  }
}

.guest-default-btn, .settings-default-btn {
  border: 1px solid $boder-color;
  background-color: $secondary-color;
  font-family: $primary-font;
  color: $icon-color;
  &:hover {
    text-decoration: none;
    cursor: pointer;
    background-color: $primary-color;
    color: $icon-color;
  }
}

.guest-default-btn, .view-more-btn-size {
  padding: 3px 25px !important;
}

.settings-default-btn {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  padding: 3px 20px;
}

/* Edutube caret design */
.up {
  background-image: url("/assets/images/arrow-up.png");
}

.down {
  background-image: url("/assets/images/arrow-down.png");
}

.left {
  background-image: url("/assets/images/arrow-left.png");
}

.right {
  background-image: url("/assets/images/arrow-right.png");
}

.edu-caret {
  background-repeat: no-repeat;
  background-position: center;
  padding: 5px 10px;
  display: inline-block;
  vertical-align: middle;
}

/* Radio label design */
.default-radio-label {
  font-family: $primary-font;
  font-size: 11px;
  font-weight: lighter;
  color: $icon-color;
  vertical-align: top;
}

.facebook-btn {
  color: #ffffff !important;
  background-color: #494492;
  border-bottom: 2px solid #3E3979 !important;
  text-align: left !important;
  &:hover {
    cursor: pointer;
    text-decoration: none;
    border-bottom: 2px solid #3E3979 !important;
  }
  .icon {
    display: inline-block;
    margin-right: 25px;
    font-weight: bold;
  }
}

.google-btn {
  color: #333333 !important;
  background-color: $secondary-color;
  border-bottom: 2px solid rgba(200, 200, 200, 0.25) !important;
  text-align: left !important;
  &:hover {
    color: #333333;
    cursor: pointer;
    text-decoration: none;
    border-bottom: 2px solid $secondary-color !important;
  }
  .icon {
    display: inline-block;
    margin-right: 25px;
    font-weight: bold;
  }
}

/* Search button */
.search-group-btn {
  .search-btn-input {
    padding: 10px 15px;
    border-radius: 3px 0 0 3px;
    border: 0 none;
    outline: 0 none;
    font-size: 12px;
    border: 1px solid $boder-color;
    border-right: 0;
    outline: none;
    &:focus {
      outline: 0;
    }
  }
  .group-btn {
    background-color: #ED003D;
    border: inherit;
    border-radius: 0 3px 3px 0;
    color: $white;
    text-decoration: none;
    cursor: pointer;
    font-size: 11px;
    font-weight: bold;
    outline: none;
    padding: 0 15px;
  }
}

.sidebar-input-group {
  position: relative;
  &:before {
    content: "\F002";
    font-family: 'FontAwesome';
    position: absolute;
    right: 15px;
    top: 5px;
    font-size: 14px;
    cursor: pointer;
  }
}

/* Footer social media button class declaration */
.facebook-bg {background-color: $facebook}
.twitter-bg {background-color: $twitter}
.youtube-bg {background-color: $youtube}
.linkedin-bg {background-color: $linkedin}

.footer-social {
  margin-bottom: 15px;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      margin-right: 5px;
      a {
        display: inline-block;
        padding: 0px 7px;
        font-size: 15px;
        color: $white;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        &:hover {
          cursor: pointer;
          text-decoration: none;
        }
      }
    }
  }
}

/* Validation error message */

.validation-error {
  color: red;
}

.mr-auto {
  margin: auto !important;
}

.edu-font-sx {
  font-size: 11px !important;
}

/* Sub nav bar */
.sub-nav {
  font-family: $primary-font;
  background-color: $primary-color;
  border-top: 1px solid $boder-color;
  border-bottom: 1px solid $boder-color;
  .sub-nav-ul-style {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
    li {
      display: inline-block;
      margin-right: 10px;
      .active {
        color: $icon-color;
        font-weight: bold;
        position: relative;
        &:before {
          content: '';
          position: absolute;
          min-width: 50px;
          left: 0;
          right: 0;
          bottom: 0;
          height: 3px;
          background-color: $pink;
        }
      }
      a {
        text-decoration: none;
        color: $icon-color;
        display: inline-block;
        cursor: pointer;
        font-size: 14px;
        padding: 8px;
      }
    }
  }
}

.list-default {
  padding: 0;
  margin: 0;
  list-style: none;
  li {
    font-family: "Open Sans", sans-serif !important;
    font-size: 14px;
    color: #333333 !important;
    margin: 2px 0;
  }
}

/* Common ul style */
.common-ul-style {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.image-circle {
  border-radius: 100%;
}
