<section>
 <h3> Contact Information </h3>	
</section>

<section>
 <h3> Email Notification </h3>	
 <h4> Notification Summary </h4>
 <p class='info-text'>
 	Receive an email summary notifications instead of individual emails.
 </p>
 <div>
   <label class='mr30'>
     <input type='radio'> On	
   </label>
   <label>
     <input type='radio'> Off	
   </label>
 </div>
 <hr class='mt0 mb10'/>
 <h4> Network Activity: </h4>
 <div>
   <label class='mr30'>
     <input type="checkbox"/> <span class='info-text'> Email me a summary of latest updates by my network. </span>
   </label>
 </div>
 <hr class='mt5 mb10'/>
 <div>
   <h4> Actionable Email Notifications:: </h4>
   <label class='mr30'>
     <input type="checkbox"/> <span class='info-text'> When someone sends me a direct message. </span>
   </label> <br/>
   <label class='mr30'>
     <input type="checkbox"/> <span class='info-text'> When tutors publish a course. </span>
   </label> <br/>
   <label class='mr30'>
     <input type="checkbox"/> <span class='info-text'> When tutors announce something. </span>
   </label>
 </div>
 <hr class='mt5 mb10'/>
 <h4> Newsletters: </h4>
 <div>
   <label class='mr30'>
     <input type="checkbox"/> <span class='info-text'> I would like to receive announcements and special offers. </span>
   </label>
 </div>
</section>

<section>
  <h3> Blocked Users </h3>	
  <p class="info-text">
 	You haven't any blocked users.
  </p>
</section>

<section>
  <h3> Delete Account </h3>	
   <p class="info-text">
     Would you like to delete your Edutube account? <br/>
     Deleting your account will remove all of your content and data associated with us.
   </p>
   <a href='#' class='link link-danger'> I want to delete my account </a>
</section>