<section>
 <h3> Contact Information </h3>
  <div class="form-group">
    <label class="input-label-default" for="edu-id">Edutube ID | Edit</label>
    <div class="validation-wrap">
      <input id="edu-id" class="input-field-default" type="email" placeholder="litu@mail.com">
      <span class="validation">Varified</span>
    </div>
  </div>
  <div class="form-group">
    <label class="input-label-default" for="alt-email-id">
      Alternate Email | Edit
      <i class="help fa fa-question"></i>
    </label>

    <input id="alt-email-id" class="input-field-default" type="email">
  </div>
  <div class="form-group">
    <label class="input-label-default" for="edu-url">
      Edutube URL | Edit
      <i class="help fa fa-question"></i>
    </label>
    <input id="edu-url" class="input-field-default" type="text" placeholder="www.edutubebd.com/litu173">
  </div>
</section>

<section>
 <h3> Email Notification </h3>
 <h4> Notification Summary </h4>
 <p class='info-text'>
 	Receive an email summary notifications instead of individual emails.
 </p>
 <div>
   <div class='radio-btn-default--wrap'>
     <input id="on" type='radio'><label for="on">On</label>
   </div>
   <div class='radio-btn-default--wrap'>
     <input id="off" type='radio'><label for="off">off</label>
   </div>
 </div>
 <hr class='mt0 mb10'/>
 <h4> Network Activity: </h4>
  <div class='checkbox-btn-default-wrap'>
    <input id="latest-update" type='checkbox'><label for="latest-update">Email me a summary of latest updates by my network.</label>
  </div>
 <hr class='mt5 mb10'/>
 <div>
   <h4> Actionable Email Notifications:: </h4>
   <div class='checkbox-btn-default-wrap'>
     <input id="direct-sms" type='checkbox'><label for="direct-sms">When someone sends me a direct message.</label>
   </div>
   <div class='checkbox-btn-default-wrap'>
     <input id="tutor-p-course" type='checkbox'><label for="tutor-p-course">When tutors publish a course.</label>
   </div>
   <div class='checkbox-btn-default-wrap'>
     <input id="tutor-announce" type='checkbox'><label for="tutor-announce">When tutors announce something.</label>
   </div>
 </div>
 <hr class='mt5 mb10'/>
 <h4> Newsletters: </h4>
  <div class='checkbox-btn-default-wrap'>
    <input id="receive-offers" type='checkbox'><label for="receive-offers">I would like to receive announcements and special offers.</label>
  </div>
</section>

<section>
  <h3> Blocked Users </h3>
  <p class="info-text">
 	You haven't any blocked users.
  </p>
</section>

<section>
  <h3> Delete Account </h3>
   <p class="info-text">
     Would you like to delete your Edutube account? <br/>
     Deleting your account will remove all of your content and data associated with us.
   </p>
   <a href='#' class='link link-danger'> I want to delete my account </a>
</section>
