<div class="inner-body">
  <p> Create curriculum by adding lecture and resourse. </p>
  <div class='curriculum-containers mb15' *ngFor="let lecture of lectures; let i = index">
    <form (submit)="updateLecture(lecture, index, lectureForm.valid)" #lectureForm="ngForm">
      <div class='curriculum-header'>
        Lecture 1:
        <input type='text' name='title' class='lecture-title' [(ngModel)]="lecture.title" placeholder="Type lecture title" required/>
      </div>
      <div class='curriculum-tabs'>
        <ul class="nav nav-tabs" id="myTab{{i}}" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#content-tab{{i}}" role="tab" aria-controls="home" aria-selected="true">
              Add Content
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#description-tab{{i}}" role="tab" aria-controls="profile" aria-selected="false">Add Description</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#resource-tab{{i}}" role="tab" aria-controls="contact" aria-selected="false">Add Resources</a>
          </li>
        </ul>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane fade show active" id="content-tab{{i}}">
            <div class='inner-body'>
              <p> Upload main type of content video, video url, pdf, doc file </p>
              <input type='text' class='lecture-content-url' placeholder="Input content url" [(ngModel)]="lecture.content_url" name='content_url'
              />
              <span class='lecture-or-text'> OR </span>
              <div class="content-action-wrapper">
                <div class="upload-btn-wrapper">
                  <button class="btn btn-info">
                    <span> Upload Content </span>
                  </button>
                  <input name="file" type="file" (change)="onFileChanged($event, lecture)">
                </div>
                <a class="btn btn-info record-link" data-target="#lecture-content-recording-modal" data-toggle="modal">
                  Record
                </a>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="description-tab{{i}}">
            <div class='inner-body'>
              <textarea name="description" class='lecture-description' placeholder="Type description..." [(ngModel)]="lecture.description"> </textarea>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="resource-tab{{i}}">
            <div class='inner-body'>
              <p> Add your resources </p>
              <div class="upload-btn-wrapper">
                <button class="btn btn-info">
                  <span> Upload Resource </span>
                </button>
                <input [(ngModel)]="lecture.content" name="resource" type="file">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='text-right'>
        <button *ngIf="lecture.id" (click)="loadAssesment(lecture.id)" data-toggle="modal" data-target="#assesment-modal" type="button"
          class='round-btn-default mb5 mr10 reset-br'>
          + Add Quiz
        </button>
        <button class='round-btn-default mb5 mr5 reset-br' type='submit'> Save </button>
      </div>
    </form>
  </div>
  <button type="button" class='btn defaul-btn mr10' (click)="addLecture()"> + Add Lecture </button>
</div>

<div class="modal fade" id="assesment-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> Create lecture assessment </h5>
        <button type="button" class='btn defaul-btn mr10'> + Add Quiz </button>
      </div>
      <div class="modal-body">
        <form #assesmentForm="ngForm" (ngSubmit)="updateAssesment(assessment)">
          <div class="input-group mb-3">
            <input type="text" class='form-control' [(ngModel)]="assessment.title" name="title" placeholder="Assesment title">
            <div class="input-group-append">
              <button type="submit" class='input-group-text btn btn-info'> Save </button>
            </div>
          </div>
        </form>
        <div class='add-question text-right' *ngIf="assessment.id">
          <a href='javascript:void(0);' (click)="addQuestion(assessment)"> + Add Question </a>
        </div>

        <div class="questions-wrapper">
          <div class="card" *ngFor="let question of assessment.questions; let i = index;">
            <a data-toggle="collapse" href="#collapse_{{i}}" role="button" aria-expanded="true" aria-controls="collapseExample">
              <div class='card-header'>
                <i class='fa fa-plus'></i> {{question.title}}
              </div>
            </a>
            <div class="card-body" id="collapse_{{i}}">
              <form #questionForm="ngForm" (ngSubmit)="updateQuestion(questionForm.valid, assessment, question, i)">
                <div class='form-group'>
                  <div class="input-group mb-3">
                    <input type="text" class='form-control' name='question_title' [(ngModel)]="question.title" placeholder="Question"
                      required>
                    <div class="input-group-append">
                      <button type="button" (click)="addAnswer(question)" class='input-group-text'> Add Answer </button>
                    </div>
                  </div>
                </div>
                <div class='answer-options'>
                  <div class="input-group mb-3" *ngFor="let answer of question.answers; let ia = index;">
                    <input type="text" class='form-control' name="answer_title_{{ia}}" [(ngModel)]="answer.title" placeholder="Answer hints">
                    <div class="input-group-append">
                      <div class="input-group-text">
                        <input type="radio" name="is_correct" [checked]="answer.is_correct" (change)="checkCorrectAnswer(i); answer.is_correct = 1">
                      </div>
                    </div>
                  </div>
                </div>
                <div class='actions'>
                  <button type="submit"> Save </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="lecture-content-recording-modal" tabindex="-1" role="dialog" aria-labelledby="modalLoginForm">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Record Lecture Content</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <video width="100%" height="380" #video class="video"></video>
      <div class="row">
        <div class="col-sm-12 text-center p20">
          <button class="btn btn-info mr5" (click)="startRecording()"> {{start_string}} </button>
          <button class="btn btn-danger mr5 ml5" (click)="stopRecording()"> Stop</button>
          <button class="btn btn-success ml5" (click)="doneRecording()"> Done</button>
        </div>
      </div>
    </div>
  </div>
</div>