<div class="inner-body">
  <p> Create curriculum by adding lecture and resourse. </p>
  <div class='curriculum-containers mb15' *ngFor="let lectue of lectures; let i = index">
    <form (submit)="updateLecture(lecture, lectureForm.valid)" #lectureForm="ngForm">
      <div class='curriculum-header'> 
        Lecture 1:  <input type='text' name='title' class='lecture-title' [(ngModel)]="lecture.title" placeholder="Type lecture title" required/>  
      </div>
      <div class='curriculum-tabs'>
        <ul class="nav nav-tabs" id="myTab{{i}}" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#content-tab{{i}}" role="tab" aria-controls="home" aria-selected="true">
              Add Content
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#description-tab{{i}}" role="tab" aria-controls="profile" aria-selected="false">Add Description</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#resource-tab{{i}}" role="tab" aria-controls="contact" aria-selected="false">Add Resources</a>
          </li>
        </ul>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane fade show active" id="content-tab{{i}}">
            <div class='inner-body'>
              <p> Upload main type of content video, video url, pdf, doc file </p>
              <input type='text' class='lecture-content-url' placeholder="Input content url" [(ngModel)]="lecture.content_url" name='content_url'/>
              <span class='lecture-or-text'> OR </span><br/>
              <div class="upload-btn-wrapper">
                <button class="btn btn-info">
                  <span> Upload Content </span>
                </button>
                <input [(ngModel)]="lecture.content" name="content" type="file">
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="description-tab{{i}}">
            <div class='inner-body'>
              <textarea name="description" class='lecture-description' placeholder="Type description..." [(ngModel)]="lecture.description"> </textarea>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="resource-tab{{i}}">
            <div class='inner-body'>
              <p> Add your resources </p>
              <div class="upload-btn-wrapper">
                <button class="btn btn-info">
                  <span> Upload Resource </span>
                </button>
                <input [(ngModel)]="lecture.content" name="resource" type="file">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='text-right'>
        <button class='round-btn-default mb5 mr5' type='submit'> Save </button>
      </div>
    </form>
  </div>
  <button type="button" class='btn defaul-btn mr10' (click)="addLecture()"> + Add Lecture </button>
  <button type="button" class='btn defaul-btn mr10'> + Add Quiz </button>
</div>