.top-nav {
    .top-nav-container {
      #top-nav-ul {
        li {
          display: inline-block;
          padding-top: 10px;
          padding-bottom: 10px;
          a {
            color: #333333;
            text-decoration: none;
            cursor: pointer;
          }
        }
      }
    }
  }

  .lecture-details {
    background: #f9f8f3;
  }

  .lecture-main-content {
    padding: 10px 0;
  }