<div class="course-wrap">
  <div class="top-nav">
    <div class="container top-nav-container">
      <ul id="top-nav-ul" class="common-ul-style">
        <li>
          <a href="#">Home</a><span class="edu-caret right"></span>
        </li>
        <li>
          <a href="#">Academic Courses</a><span class="edu-caret right"></span>
        </li>
      </ul>
    </div>
  </div><!-- Top nav -->
  <div class="course-container container">
    <div class="row course-row">
      <div class="col-sm-3 left-sidebar">
        <div class="tab-wrap">
          <ul id="left-tab-ul" class="common-ul-style">
            <li><a href="#" class="active">Academic Courses</a></li>
            <li><a href="#">Special Courses</a></li>
          </ul>
        </div>
        <div class="search-bar">
          <form action="#" role="form" class="navbar-formx">
            <div class="form-group sidebar-input-group">
              <input type="search" class="form-control-default" placeholder="Class/Category">
            </div>
            <div class="form-group sidebar-input-group">
              <input type="search" class="form-control-default" placeholder="Subject/Topic">
            </div>
          </form>
        </div>
      </div>
      <div class="col-sm-9 right-sidebar">
        <div class="banner">
          <img src="assets/images/courses/academic-courses-bg.png" class="img-responsive" alt="Academic-courses-bg">
        </div><!-- Header Banner -->

        <div class="subject-group">
          <h3>Class Five</h3>
          <div class="grid-wrap mb20">
            <div class="grid-item">
              <a href="#">
                <img src="assets/images/courses/math.png" class="img-responsive" alt="Math pic">
                <p>Mathematics</p>
              </a>
            </div><!-- Grid item -->
            <div class="grid-item">
              <a href="#">
                <img src="assets/images/courses/bangla.png" class="img-responsive" alt="Math pic">
                <p>Bangla</p>
              </a>
            </div><!-- Grid item -->
            <div class="grid-item">
              <a href="#">
                <img src="assets/images/courses/english.png" class="img-responsive" alt="Math pic">
                <p>English</p>
              </a>
            </div><!-- Grid item -->
            <div class="grid-item">
              <a href="#">
                <img src="assets/images/courses/science.png" class="img-responsive" alt="Math pic">
                <p>Science</p>
              </a>
            </div><!-- Grid item -->
          </div><!-- CSS grid -->
          <div class="form-group text-center">
            <a href="#" class="btn default-btn-sm">View More</a>
          </div>
        </div><!-- Subject group -->

        <div class="subject-group">
          <h3>Class Six</h3>
          <div class="grid-wrap mb20">
            <div class="grid-item">
              <a href="#">
                <img src="assets/images/courses/math.png" class="img-responsive" alt="Math pic">
                <p>Mathematics</p>
              </a>
            </div><!-- Grid item -->
            <div class="grid-item">
              <a href="#">
                <img src="assets/images/courses/bangla.png" class="img-responsive" alt="Math pic">
                <p>Bangla</p>
              </a>
            </div><!-- Grid item -->
            <div class="grid-item">
              <a href="#">
                <img src="assets/images/courses/english.png" class="img-responsive" alt="Math pic">
                <p>English</p>
              </a>
            </div><!-- Grid item -->
            <div class="grid-item">
              <a href="#">
                <img src="assets/images/courses/science.png" class="img-responsive" alt="Math pic">
                <p>Science</p>
              </a>
            </div><!-- Grid item -->
          </div><!-- CSS grid -->
          <div class="form-group text-center">
            <a href="#" class="btn default-btn-sm">View More</a>
          </div>
        </div><!-- Subject group -->



      </div>
    </div>
  </div>
</div>


