<section id="profile-sub-nav">
  <div class="sub-nav-fluid">
    <ul class="sub-nav-ul-style text-center">
      <li>
        <a routerLink="/profile">Profile</a>
      </li>
      <li>
        <a routerLink="/instructor/dashboard" class="active">Home</a>
      </li>
    </ul>
  </div>
</section>
<div id="student-home">
  <div class='container'>
    <div class='col-sm-12'>
      <div class='row'>
        <div class='col-sm-3'>
          <app-instructor-sidenav></app-instructor-sidenav>
        </div>
        <div class='col-sm-9'>
          <div class='student-home-body'>
                <div class='create-course-dashboard'>
                  <section>
                    <h2 class='report-header row'>
                      My Dashboard
                    </h2>
                    <div class="dashboard-container">
                      <h2>Upload a New Course</h2>
                      <div class="course-panel">
                        <div class="panel-header">Let's get started</div>
                        <div class="panel-body">
                          <div class='alert alert-danger' *ngIf="error"> {{error}} </div>
                          <div class="course-form-wrap">
                            <form (ngSubmit)="courseSubmit()" method="post" #courseForm="ngForm">
                              <div class='form-group custom-group'>
                                <div class="form-group">
                                  <label class="default-label"> Enter a Course Title </label>
                                  <input type="text" [(ngModel)]="course.title" name='title' class='form-control-default' required>
                                </div>
                                <div class="form-group">
                                  <label for="test-course">
                                    <input type="checkbox" id='test-course' [(ngModel)]="course.is_test" name='is_test' value='1'>
                                    <span class='default-radio-label'> This is a practice test-only course </span>
                                  </label>
                                </div>
                                <div class="form-group">
                                  <button type="submit" [disabled]="!courseForm.form.valid" class='btn guest-default-btn'>
                                    Save & Go
                                  </button>
                                </div>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
