<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="modalLoginForm">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header auth-modal-header">
        <h4 class="modal-title">Signin to your Edutube account</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class='alert alert-danger' *ngIf="message">
          {{message}}
        </div>
        <div class='alert alert-success' *ngIf="success">
          {{success}}
        </div>
        <div id="edutube-register-form" class="form-wrapper sign-in-wrap">
            <form (ngSubmit)="onSubmit()" #loginForm="ngForm" class='form-horizontal edutube-auth-form'>

                <div class="form-group">
                 <label class="input-label"> Email: </label>
                 <div class="group-input">
                  <span class='input-icon'> <i class='fa fa-user-o'></i></span>
                  <input type="email" [(ngModel)]="credential.email" class="input-inner" name="credential.email" required>
                  </div>
                </div>

                <div class="form-group">
                 <label class="input-label">
                   Password:
                   <span style='font-weight: normal;' class='hints pull-right'>
                     <a href='#' data-target="#forgot-password-modal" data-dismiss="modal" data-toggle="modal" style="color: #333;">
                       Forgot password?
                     </a>
                   </span>
                 </label>
                 <div class="group-input">
                  <span class='input-icon'> <img src="/assets/images/pad-lock.png"/> </span>
                  <input type="password" [(ngModel)]="credential.password" class="input-inner" name="password" required>
                  </div>
                </div>

                <input type="submit" [disabled]="!loginForm.form.valid" class="btn btn-block primary-btn btn-size-2x" name="submit" value="Sign in">

                <div class="checkbox-btn-default-wrap mt10" >
                  <input type="checkbox" [(ngModel)]="credential.remember" id='remember-me' name='remember_me' value='1'>
                  <label for="remember-me">
                    <span class='hints'> Keep me signed in. </span>
                  </label>
                </div>

                <div class='or-text'>
                </div>

                <div class="form-group">
                  <a (click)="signInWithSocial('facebook')" class="btn btn-block facebook-btn">
                    <i class="fa fa-facebook-f icon"></i> Sign in with Facebook
                  </a>
                </div>

                <div class="form-groupx">
                  <a (click)="signInWithSocial('google')" class="btn btn-block google-btn">
                    <img src="/assets/images/google_icon.png" class='mr20' style="height: 16px;"/> Sign in with Google
                  </a>
                </div>
             </form>
          </div>
      </div>
      <div class="modal-footer auth-modal-footer">
        Do not have an account? <a href='#' data-dismiss="modal" data-target="#registration-modal" data-toggle="modal"> Sign up </a>
      </div>
    </div>
  </div>
</div>
