<!-- Profile sub nav -->
<section id="profile-sub-nav">
  <div class="sub-nav">
    <ul class="sub-nav-ul-style">
      <li><a href="#" class="active">Profile</a></li>
      <li><a href="#">Profile1</a></li>
      <li><a href="#">Profile2</a></li>
      <li><a href="#">Profile3</a></li>
    </ul>

  </div>
</section>
<!-- Profile body -->
<section id="profile-body">
  <div class="profile-wrap">
    <div class="profile-container container">
      <a href="#">Edit</a>
      <div class="profile row">
        <div class="left-sidebar col-sm-3">
          <div class="profile-header">
            <div class="pro-img">
              <img src="assets/images/profile.png" alt="Profile pic">
            </div>
            <div class="pro-info">
              <p>Mutaher Hossain Litu</p>
              <ul>
                <li>
                  <a>Class five</a>
                </li>
                <li>
                  <a>Ideal School and College</a>
                </li>
                <li>
                  <a>
                    <i class="fa fa-map"></i>
                    <span>Dhaka, Bangladesh</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="following">
            <table>
              <tbody>
              <tr>
                <td><i class="fa fa-user"></i></td>
                <td>Followings</td>
                <td>55Followers</td>
              </tr>
              <tr>
                <td><i class="fa fa-user"></i></td>
                <td>Followers</td>
                <td>55</td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="about-me">
            <h5>About ME</h5>
            <p>
              This is a section of about me of student. He/ she should write something about
              him/ her
            </p>
          </div>
        </div>
        <div class="right-sidebar col-sm-9"></div>
      </div>
    </div>
  </div>
</section>
