.info-box {
  font-weight: lighter;
  h4 {
    color: #333;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
  }
  p {
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    margin-bottom: 5px;
  }
  ul {
    li {
      display: inline-block;
      padding: 0;
      margin-right: 40px;
      border: none;
      //font-weight: lighter;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}
