/* Variable call */

// Body
$body-bg: #f5f8fa;

/* Google fonts */
$primary-font: 'Open Sans', sans-serif;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// EduTube Theme
$primary-color: #fff;
$secondary-color: #f1f1f1;
//$tertiary-color: #000;
$icon-color: #333333;
$ash-shadow: #a3a3a3;
$primary-btn: #ef294a;
$pink-shadow: #d01e3c;
$boder-color: #e3e3e3;

/* Color name declaration */
$white: $primary-color;
$off-white: $secondary-color;
$ash: $ash-shadow;
$pink: $primary-btn;
$deep-pink: $pink-shadow;
$off-black: $icon-color;

/* Social icon color */
$facebook: #3b5998;
$twitter: #1da1f2;
$youtube: #ff0000;
$linkedin: #007bb5;

/* Variable call end */



#edit-course {
  background: #F8F9F2;
  padding: 25px 0;
}

.edit-course-dashboard {
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
  background-color: $white;
  color: $icon-color;
  text-align: left;
  font-family: $primary-font;
  font-size: 14px;
  .sub-top-nav {
    border-bottom: 1px solid $boder-color;
    ul {
      padding: 15px 20px;
      li {
        display: inline-block;
        a {
          color: $icon-color;
          display: inline-block;
          cursor: pointer;
          &:hover {
            color: $icon-color;
            text-decoration: none;
          }
        }
        .active, a:hover {
          position: relative;
          &:before {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: -16px;
            height: 2px;
            background-color: $icon-color;
          }
        }
        span {
          background-image: url("/assets/images/arrow-right.png");
          background-repeat: no-repeat;
          background-position: center;
          padding: 0px 20px;
        }
      }
    }
  }
  .edit-body {
    padding: 30px 25px;
  }
}


.dashboard-container {
  margin: auto 10%;
  h2 {
    font-size: 20px;
    margin-top: 60px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
  }
  .course-panel {
    border: 1px solid #e3e3e3;
    .panel-header {
      background: #f5f5f5;
      padding: 15px 20px;
      color: #828282;
      font-size: 20px;
      font-weight: bold;
      border-bottom: 1px solid #e3e3e3;
    }
    .panel-body {
      padding: 25px 20px;
      .course-form-wrap {
        .custom-group {
          label {}
          input {}
        }
      }
    }
  }
}
