<div class="sub-nav-fluid">
  <ul class="sub-nav-ul-style text-center">
    <li><a href="#">Profile</a></li>
    <li><a href="#" class="active">Home</a></li>
  </ul>
</div>
<div id="edit-course">
  <div class='container'>
    <div class='col-sm-12'>
      <div class='row'>
        <div class='col-sm-3'>
          <app-instructor-sidenav></app-instructor-sidenav>
        </div>
        <div class='col-sm-9'>
          <div class='edit-course-dashboard'>
            <div class="sub-top-nav">
              <ul class="common-ul-style">
                <li>
                  <a routerLink="/instructor/dashboard">My Dashboard</a><span class=""></span>
                </li>
                <li>
                  <a routerLink="/instructor/dashboard/courses">Courses</a><span class=""></span>
                </li>
                <li>
                  <a href="javascript:void(0);" class="active">Course Management</a><span class=""></span>
                </li>
              </ul>
            </div>

            <div class="edit-body">
              <div class='alert alert-danger' *ngIf="error">
                {{error}}
                <i class="fa fa-times pull-right" (click)="error=''"></i>
              </div>
              <div class='alert alert-info' *ngIf="message">
                {{message}}
                <i class="fa fa-times pull-right" (click)="message=''"></i>
              </div>
              <div class="row">
                <div class="col-sm-3">
                  <img style='max-width: 100%;' *ngIf="!course.image" src='/assets/images/envelope-large.png' class="img-responsive"/>
                  <img style='max-width: 100%;' *ngIf="course.image" src='{{env.assets_host}}{{course.image}}' class="img-responsive"/>
                </div>
                <div class="col-sm-6">
                  <strong> {{course.title}} </strong>
                  <p>Draft</p>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <div class="nav nav-pills" id="myCourseTab" role="tablist">
                      <a class="nav-link round-btn-default btn {{klass}} course-settings-btn" (click)="klass = (klass != 'show' ? 'show' : '')" data-toggle="tab" href="#course-settings-tab" role="tab" aria-selected="true">
                        <i class="fa fa-cog"></i> Course Settings
                      </a>
                    </div>
                  </div>
                </div>
              </div>
                <div class='edit-course-container'>
                <div class='col-lg-12'>
                  <div class='row'>
                  <div class='col-sm-3 right-border'>
                    <div class='row'>
                    <div class="nav flex-column nav-pills left-pill-nav edu-pill-wrapper" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                      <a class="nav-link active" data-toggle="pill" href="#course-goals-tab" role="tab" aria-selected="true">
                        Course Goals
                      </a>
                      <a class="nav-link" data-toggle="pill" href="#course-curriculum-tab" role="tab" aria-selected="true">
                        Curriculum
                      </a>
                      <a class="nav-link" data-toggle="pill" href="#course-details-tab" role="tab" aria-selected="true">
                        Course Details
                      </a>
                      <a class="nav-link" data-toggle="pill" href="#course-price-tab" role="tab" aria-selected="true">
                        Price
                      </a>
                      <a class="nav-link" data-toggle="pill" href="#course-captions-tab" role="tab" aria-selected="true">
                        Captions
                      </a>
                      <a class="nav-link" data-toggle="pill" href="#course-tutor-message-tab" role="tab" aria-selected="true">
                        Tutor Message
                      </a>
                      <a class="nav-link" data-toggle="pill" href="#course-exam-tab" role="tab" aria-selected="true">
                        Exam
                      </a>
                    </div>
                  </div>
                </div>

                <div class='col-sm-9'>
                  <div class='row'>
                  <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="course-goals-tab" role="tabpanel">
                      <form #courseGoalForm="ngForm" (ngSubmit)="submitCourseGoals()">
                        <div class='inner-tab-header clearfix'>
                          <h3>Course Goal</h3>
                          <button class="round-btn-default pull-right" type="submit"> Save </button>
                        </div>
                        <div class='inner-body'>
                          <div class='form-group'>
                            <label class='edu-label-default'> What knowledge and tools are required? </label>
                            <input name='tools[{{i}}]' type="text" *ngFor="let goal of tools_requires; let i = index" class='form-control-default mb5' [(ngModel)]="goal.name">
                            <a (click)="addMoreGoal('tools');" href="javascript:void(0);" class='edu-link-default'>
                              + Add More
                            </a>
                          </div>
                          <div class='form-group'>
                            <label class='edu-label-default'> Who should take this course? </label>
                            <input name='who_can[{{i}}]' type="text" *ngFor="let goal of who_can_takes; let i = index" class='form-control-default mb5' [(ngModel)]="goal.name">
                            <a (click)="addMoreGoal('who');" href="javascript:void(0);" class='edu-link-default'>
                              + Add More
                            </a>
                          </div>
                          <div class='form-group'>
                            <label class='edu-label-default'> What will students achive or be able to do after taking this course? </label>
                            <input name='achive[{{i}}]' type="text" *ngFor="let goal of achivements; let i = index" class='form-control-default mb5' [(ngModel)]="goal.name">
                            <a (click)="addMoreGoal('achivement');" href="javascript:void(0);" class='edu-link-default'>
                              + Add More
                            </a>
                          </div>
                        </div>
                      </form>
                    </div>

                    <div class="tab-pane fade" id="course-curriculum-tab" role="tabpanel">
                      <form #curriculumForm="ngForm" (ngSubmit)="submitCourseCurriculum()">
                        <div class='inner-tab-header clearfix'>
                          <h3>Curriculum</h3>
                          <button class="round-btn-default pull-right"> Preview </button>
                          <button class="round-btn-default pull-right mr15"> Upload Multiple Files </button>
                        </div>
                        <app-course-curriculum [course]="course"></app-course-curriculum>
                      </form>
                    </div>

                    <div class="tab-pane fade" role="tabpanel" id="course-details-tab">
                      <form #detailsForm="ngForm" (ngSubmit)="submitCourseUpdate()">
                        <div class='inner-tab-header clearfix'>
                          <h3>Course Details</h3>
                          <button class="round-btn-default pull-right" type="submit"> Save </button>
                          <a class="round-btn-default pull-right mr15" routerLink="/courses/{{course.id}}" target="_blank"> 
                            Preview 
                          </a>
                        </div>
                        <div class="inner-body">
                          <p> Your Course Details is the first thing students see when they find your course in the marketplace and will influence student entrollments. Fill in the details bellow and click 'Preview' to see how it will appear to students in the marketplace. </p>

                          <div class='form-group'>
                            <label class='edu-label-default'> Course Title </label>
                            <input type="text" [(ngModel)]="course.title" name="title" class='form-control-default'>
                          </div>

                          <div class='form-group'>
                            <label class='edu-label-default'> Course Sub-title </label>
                            <input type="text" [(ngModel)]="course.sub_title" name="sub_title" class='form-control-default'>
                          </div>

                          <div class='form-group'>
                            <label class='edu-label-default'> Course Description </label>
                            <textarea [(ngModel)]="course.description" name="description" class='form-control-default'></textarea>
                          </div>

                          <div class='form-group' style='position: relative;'>
                            <label class='edu-label-default'> Category </label>
                            <div>
                              <ul class='list-default'>
                                <li *ngFor="let c_cat of course_categories; let i = index" class='course-category-item'>
                                 <span class='text'> {{c_cat.title}} </span>
                                 <span class='remove action' (click)="removeCategory(c_cat, i)"> <i class="fa fa-times"></i> </span>
                                </li>
                              </ul>
                            </div>
                            <input type="text" placeholder="Search Category..." name="input_category" (blur)="hideCategorySelection($event)" (keyup)="categorySelect($event)" class='form-control-default' [(ngModel)]="input_category">
                            <div class="dropdown-menu {{category_result}}" aria-labelledby="navbarDropdown" style="width: 100%;">
                              <a class='dropdown-item pt5 pb5' *ngFor="let cat of category_search_results" (click)="addCategoryToCourse(cat)" href="javascript:void(0);">
                                {{cat.title}}
                              </a>
                            </div>
                          </div>

                          <div class='form-group'>
                            <div class='row'>
                              <div class='col-lg-12'>
                                <div class='row'>
                                  <div class='col-sm-6'>
                                    <label class='edu-label-default'> Select Class </label>
                                    <select class="form-control" name="class_id" [(ngModel)]="course.class_id">
                                      <option *ngFor="let klass of klasses" [ngValue]="klass.id">
                                        {{klass.name}}
                                      </option>
                                    </select>
                                  </div>
                                  <div class='col-sm-6'>
                                    <label class='edu-label-default'> Select Subject </label>
                                    <select class="form-control" name="subject" [(ngModel)]="course.subject_id">
                                      <option *ngFor="let subject of subjects" [ngValue]="subject.id">
                                        {{subject.title}}
                                      </option>
                                    </select>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class='form-group'>
                            <label class='edu-label-default'> Language </label>
                            <select [(ngModel)]="course.language" name="language" class='form-control-default reset-br mx-w120'>
                              <option value="English"> English </option>
                              <option value="Bangoli"> Bangoli </option>
                              <option value="Other"> Other </option>
                            </select>
                          </div>

                          <div class='form-group'>
                            <label class='edu-label-default'> Course Image </label>
                            <div class='course-upload-file'>
                              <img *ngIf="!course.image" src='/assets/images/envelope-large.png'/>
                              <img *ngIf="course.image" src='{{env.assets_host}}{{course.image}}'/>
                              <div class='context'>
                                <p class='mb5'> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ullamcorper ante eget augue malesuada pretium. Sed aliquam convallis tempor. Fusce quis gravida diam. Etiam viverra</p>
                                <div class="upload-btn-wrapper">
                                  <button class="btn btn-sm btn-light">
                                    <span *ngIf="uploading_image"> <i class='fa fa-spinner fa-spin'></i> Uploading... </span>
                                    <span *ngIf="!uploading_image"> Upload Image </span>
                                  </button>
                                  <input type="file" name="file" id="file" (change)="onFileChanged($event, 'image')" />
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class='form-group'>
                            <label class='edu-label-default'> Promotional video </label>
                            <div class='course-upload-file'>
                              <img *ngIf="!course.promo_video" src='/assets/images/envelope-large.png'/>
                              <img *ngIf="course.promo_video" src='{{env.assets_host}}{{course.promo_video}}'/>
                              <div class='context'>
                                <p class='mb5'> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ullamcorper ante eget augue malesuada pretium. Sed aliquam convallis tempor. Fusce quis gravida diam. Etiam viverra</p>
                                <div class="upload-btn-wrapper">
                                  <button class="btn btn-sm btn-light">
                                    <span *ngIf="uploading_video"> <i class='fa fa-spinner fa-spin'></i> Uploading... </span>
                                    <span *ngIf="!uploading_video"> Upload Video </span>
                                  </button>
                                  <input type="file" name="file" id="video_file" (change)="onFileChanged($event, 'video')" />
                                </div>
                              </div>
                            </div>
                          </div>

                        </div>
                      </form>
                    </div>

                    <div class="tab-pane fade" role="tabpanel" id="course-price-tab">
                      <form #priceForm="ngForm" (ngSubmit)="submitCourseUpdate()">
                        <div class='inner-tab-header clearfix'>
                          <h3>Price</h3>
                          <button class="round-btn-default pull-right" type="submit"> Save </button>
                        </div>
                        <div class='inner-body'>
                          <p> Please select the price tier for your course bellow and click 'Save'. The list price that students will see in other currencies is calculated using the price tier matrix, based on the tier that is corresponds to. </p>
                          <div class='form-group'>
                            <select name='currency' [(ngModel)]="course.price_currency" style="max-width: 80px;" class='form-control-gray mr10'>
                              <option value="BDT"> BDT </option>
                              <option value="BDT"> USD </option>
                            </select>
                            <input type="text" [(ngModel)]="course.price" name='price' style="max-width: 170px;" class="form-control-gray text-center" placeholder="Enter price">
                          </div>
                          <p>
                            <a (click)="addDiscountPrice();" href="javascript:void(0);" class='edu-link-default'>
                              + Discount Price
                            </a>
                          </p>
                          <div class='form-group' *ngIf="showDiscount()">
                            <select [(ngModel)]="course.discount_currency" name='discount_currency' style="max-width: 80px;" class='form-control-gray mr10'>
                              <option value="BDT"> BDT </option>
                              <option value="BDT"> USD </option>
                            </select>
                            <input type="text" name="discount_price" [(ngModel)]="course.discount_price" style="max-width: 170px;" class="form-control-gray text-center" placeholder="Enter New price">
                          </div>
                        </div>
                      </form>
                    </div>

                    <div class="tab-pane fade" role="tabpanel" id="course-captions-tab">
                      <form #captionForm="ngForm" (ngSubmit)="submitCourseCaptions()">
                        <div class='inner-tab-header clearfix'>
                          <h3>Captions</h3>
                          <button class="round-btn-default pull-right" type="submit"> Disabled </button>
                        </div>
                        <div class='inner-tab-header clearfix'>
                          <select style="max-width: 100px;" class='form-control-gray pt5 pb5'>
                              <option value="English"> English </option>
                              <option value="Bangoli"> Bangoli </option>
                              <option value="Other"> Other </option>
                            </select>
                            <span class='ml15' style='color: #777777;'> 0/1 published course captioned </span>
                        </div>
                        <table class='table course-captions-table'>
                          <tbody>
                            <tr>
                              <td> <i class="fa fa-times-rectangle-o"></i> </td>
                              <td> Lecture 1: Introduction </td>
                              <td> Uncaptioned </td>
                              <td> Upload </td>
                            </tr>
                          </tbody>
                        </table>
                      </form>
                    </div>

                    <div class="tab-pane fade" role="tabpanel" id="course-tutor-message-tab">
                      <form #captionForm="ngForm" (ngSubmit)="submitCourseUpdate()">
                        <div class='inner-tab-header clearfix'>
                          <h3>Tutor Message</h3>
                          <button class="round-btn-default pull-right" type="submit"> Save </button>
                        </div>
                        <div class='inner-body'>
                          <p> Write messages to your students (optional) that will be sent automatically when they join or complete your course to encourage students to engage with course content. If you do not wish to send a welcome or congruatulations message, leave the text box blank. </p>
                          <div class=form-group>
                            <label class='edu-label-default'> Welcome Message </label>
                            <textarea name="welcome_message" [(ngModel)]="course.welcome_message" class='form-control-default'></textarea>
                          </div>
                          <div class=form-group>
                            <label class='edu-label-default'> Congratuations Message </label>
                            <textarea name="congratulation_message" [(ngModel)]="course.congratulation_message" class='form-control-default'></textarea>
                          </div>
                        </div>
                      </form>
                    </div>

                    <div class="tab-pane fade" role="tabpanel" id="course-exam-tab">
                      <form #captionForm="ngForm" (ngSubmit)="submitCourseCaptions()">
                        <div class='inner-tab-header clearfix'>
                          <h3>Exam</h3>
                          <button class="round-btn-default pull-right" type="submit"> Save </button>
                        </div>
                        <div class='inner-body'>
                          <div class='form-group'>
                            <label> Question </label>
                            <input type="text" class='form-control-default'>
                          </div>
                          <div class='form-group'>
                            <label> Answers Hints </label>
                            <input type="text" class='form-control-default mb5'>
                            <input type="text" class='form-control-default mb5'>
                            <input type="text" class='form-control-default mb5'>
                            <input type="text" class='form-control-default'>
                          </div>
                          <button type="button" class='round-btn-default'> Add </button>
                        </div>
                      </form>
                    </div>

                    <div class="tab-pane fade" role="tabpanel" id="course-settings-tab">
                      <form #settingsForm="ngForm" (ngSubmit)="submitCourseUpdate()">
                        <div class='inner-tab-header clearfix'>
                          <h3>Course Settings</h3>
                          <button class="round-btn-default pull-right" type="submit"> Save </button>
                        </div>
                        <div class='inner-tab-header clearfix'>
                          <p class='mb8'> Privacy </p>
                          <select [(ngModel)]="course.privacy" name='privacy' style="max-width: 150px;" class='form-control-default pt5 pb5 reset-br'>
                            <option value="Public"> Public </option>
                            <option value="Private"> Private </option>
                            <option value="Other"> Other </option>
                          </select>
                          </div>
                          <div class='inner-tab-header clearfix'>
                            <p class='mb8'> <b> Third Party Integration </b> </p>
                            <div class='third-party-integration'>
                              <div class='form-group'>
                                <span class='text-label'> Google Analytics Tracking ID </span>
                                <input type="text" [(ngModel)]="course.google_tracking_id" name='google_tracking_id' class='form-control-default' placeholder="Enter ID">
                              </div>
                              <div class='form-group'>
                                <span class='text-label'> Google Adwards </span>
                                <input type="text" [(ngModel)]="course.google_adwards" name='google_adwards' class='form-control-default' placeholder="Enter ID">
                              </div>
                            </div>
                          </div>
                        <div class='inner-body'>
                            <p class='mb8'> <b> Course Satus </b> </p>
                            <button type="button" class='btn default-btn pt2 pb2 mb10'> {{course.status}} </button> <br/>
                            <button type="button" class='btn primary-btn  pt2 pb2'> Delete </button>
                          </div>
                      </form>
                    </div>

                  </div>
                  </div>
                </div>
                </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
