<section id="profile-sub-nav">
  <div class="sub-nav-fluid">
    <ul class="sub-nav-ul-style text-center">
      <li>
        <a routerLink="/profile">Profile</a>
      </li>
      <li>
        <a routerLink="/home" class="active">Home</a>
      </li>
      <li><a routerLink="/instructor/dashboard/courses" (click)="featureNotIncluded()">My Messages</a></li>
      <li><a routerLink="/instructor/dashboard/courses" (click)="featureNotIncluded()">My Notification</a></li>
      <li><a routerLink="/profile/edit">Edit Profile</a></li>
    </ul>
  </div>
</section>
<div id="student-home">
  <div class='container'>
    <div class='col-sm-12'>
      <div class='row'>
        <div class='col-sm-3'>
          <app-instructor-sidenav></app-instructor-sidenav>
        </div>
        <div class='col-sm-9'>
          <div class='student-home-body'>
            <div class='create-course-dashboard'>
              <section class='edit-course-dashboard p0'>
                <div class=''>
                  <div class="sub-top-nav">
                    <ul class="common-ul-style">
                      <li>
                        <a routerLink="/instructor/dashboard">My Dashboard</a> <span></span>
                      </li>
                      <li>
                        <a routerLink="/instructor/dashboard/courses" class="active"> Courses </a>
                      </li>
                    </ul>
                  </div>

                  <div class="dashboard-container edit-body">
                    <div class='col-lg-12'>
                      <div class='alert alert-danger' *ngIf="error"> {{error}} </div>
                      <div class='row course-listing'>
                        <div *ngFor="let course of courses" class='course-block col-sm-4'>
                           <div class='image-header'>
                             <img src="{{env.assets_host}}{{course.image}}" *ngIf="course.image"/>
                             <img src="/assets/images/envelope-large.png" *ngIf="!course.image"/>
                           </div>
                           <div class='course-body'>
                             <h3> {{course.title}} </h3>
                             <div>
                               Draft
                               <a class='edu-link-default ml10' routerLink="/instructor/dashboard/courses/{{course.id}}/edit">
                                 <i class="fa fa-pencil-square-o"></i>
                               </a>
                             </div>
                           </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
