<div class="dropdown-menu custom-nav-dropdown show" aria-labelledby="navbarDropdown">
  <div class='dropdown-item'>
    <img src="/assets/images/community.png" alt="image" class='image-circle' width="25px;"> 
    <b class='ml15'> {{user.first_name}} {{user.last_name}} </b>
  </div>
  <div class="dropdown-divider"></div>
  <a class="dropdown-item" [routerLink]="['/instructor/dashboard']" [routerLinkActive]="['active']" 
  [routerLinkActiveOptions]="{exact: true}"> 
    <i class="fa fa-dashboard gray-icon mr5"></i> &nbsp; My Dashboard
  </a>
  <a class="dropdown-item" [routerLink]="['/instructor/dashboard/courses']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"> 
    <i class="fa fa-book gray-icon mr5"></i> &nbsp; My Courses
  </a>
  <a class="dropdown-item" routerLink="/instructor/dashboard"> 
    <i class="fa fa-envelope-open-o gray-icon mr5"></i> &nbsp; My Messages
  </a>
  <a class="dropdown-item" routerLink="/instructor/dashboard"> 
    <i class="fa fa-bell-o gray-icon mr5"></i> &nbsp; My Notification
  </a>
  <div class="dropdown-divider"></div>
  <a class="dropdown-item" routerLink="/instructor/settings" [routerLinkActive]="['active']"> 
    <i class="fa fa-cog gray-icon mid-size-icon mr5"></i> &nbsp; Settings
  </a>
  <a class="dropdown-item" routerLink="/settings"> 
    <i class="fa fa-info-circle gray-icon mid-size-icon mr5"></i> &nbsp; Help
  </a>
  <a style="margin-top: 5px" routerLink="/logout" class="dropdown-item">
    <i class="fa fa-power-off gray-icon mid-size-icon mr5"></i> &nbsp; Logout
  </a>
</div>