<div class="modal fade" id="registration-modal" tabindex="-1" role="dialog" aria-labelledby="modalLoginForm">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header auth-modal-header">
        <h4 class="modal-title">Signup to create your Edutube account</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="validation-errors alert alert-danger" *ngIf="errors.length > 0">
          <li *ngFor="let error of errors">{{error}}</li>
        </ul>
        <div class="alert alert-danger" *ngIf="message"> {{message}} </div>
        <div id="edutube-register-form" class="form-wrapper sign-in-wrap">
            <form class='edutube-auth-form form-horizontal' #registrationForm="ngForm" (ngSubmit)="registration()" novalidate>

                <div class="form-group">
                 <label class="input-label"> First Name: </label>
                 <div class="group-input">
                  <span class='input-icon'> <i class='fa fa-user-o'></i></span>
                  <input type="text" [(ngModel)]="user_info.first_name" class="input-inner" name="first_name" required>
                  </div>
                </div>

                <div class="form-group">
                 <label class="input-label"> Last Name: </label>
                 <div class="group-input">
                  <span class='input-icon'> <i class='fa fa-user-o'></i></span>
                  <input type="text" [(ngModel)]="user_info.last_name" class="input-inner" name="last_name">
                  </div>
                </div>

                <div class="form-group">
                 <label class="input-label"> Email: </label>
                 <div class="group-input">
                  <span class='input-icon'> <img src="/assets/images/mail.png"/> </span>
                  <input type="email" [(ngModel)]="user_info.email" class="input-inner" name="email" required>
                  </div>
                </div>

                <div class="form-group">
                 <label class="input-label"> Password: </label>
                 <div class="group-input">
                  <span class='input-icon'> <img src="/assets/images/pad-lock.png"/> </span>
                  <input type="password" [(ngModel)]="user_info.password" class="input-inner" name="password" required>
                  </div>
                </div>

                <div class="form-group">
                 <label class="input-label"> Confirm Password: </label>
                 <div class="group-input">
                  <span class='input-icon'> <img src="/assets/images/pad-lock.png"/> </span>
                  <input type="password" [(ngModel)]="user_info.password_confirmation" class="input-inner" name="password_confirmation" required>
                  </div>
                </div>

                <div class="checkbox-btn-default-wrap mt10">
                  <input type="checkbox" [(ngModel)]="user_info.is_teacher" id='user_type' name='is_teacher' value='teacher'>
                  <label for="user_type">
                    <span class='hints'> Click here if you are teacher </span>
                  </label>
                </div>

                <input type="submit" [disabled]="!registrationForm.form.valid" class="btn btn-block primary-btn btn-size-2x" name="submit" value="Sign up">

                <span class='hints mt10'>
                  By signing up you are agree to our
                  <a href='#'> Terms & Conditions </a>
                </span>
            </form>
          </div>
      </div>
      <div class="modal-footer auth-modal-footer">
        Have an account? <a href='#' data-dismiss="modal" data-target="#login-modal" data-toggle="modal"> Sign in </a>
      </div>
    </div>
  </div>
</div>
