<div class="sub-nav">
  <ul class="sub-nav-ul-style">
    <li><a href="#">Profile</a></li>
    <li><a href="#" class="active">Home</a></li>
  </ul>
</div>
<div id="new-course">
  <div class='container'>
    <div class='col-sm-12'>
      <div class='row'>
        <div class='col-sm-3'>
          <app-subnav></app-subnav>
        </div>
        <div class='col-sm-9'>
          <div class='create-course-dashboard'>
            <section>
              <h2 class='report-header row'>
                My Dashboard
              </h2>
              <div class="dashboard-container">
                <h2>Upload a New Course</h2>
                <div class="course-panel">
                  <div class="panel-header">Let's get started</div>
                  <div class="panel-body">
                    <div class="course-form-wrap">
                      <div class='form-group custom-group'>
                        <div class="form-group">
                          <label class="default-label"> Enter a Course Title </label>
                          <input type="text" name='course_title' [(ngModel)]="user.course_title"
                                 class='form-control-default'>
                        </div>
                        <div class="form-group">
                          <label for="remember-me">
                            <input type="checkbox" id='remember-me' name='remember_me' value='1'>
                            <span class='default-radio-label'> This is a practice test-only course </span>
                          </label>
                        </div>
                        <div class="form-group">
                          <a href="#" class="btn guest-default-btn">Save & Go</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>