<section>
  <div class="purchase-history-head border-bottom row">
    <div class='default-nav-menu'>
      <ul class="common-ul-style nav nav-pills">
        <li>
          <a class="active" href="#my-purchase-history" data-toggle="pill" role="tab" aria-selected="true">
            My Purchase History
          </a><span class="edu-caret right"></span>
        </li>
        <li>
          <a href="#my-receipt" data-toggle="pill" role="tab" aria-selected="true">Receipt</a>
        </li>
      </ul>
    </div>
  </div><!-- Purchase history header -->

  <div class="purchase-history-body tab-content">
    <div id="my-purchase-history" class="tab-pane fade show active" role="tabpanel">
      <div class="purchase-history-table p20">
        <table class="table left-right-border-less-table">
          <thead>
          <tr>
            <th colspan="2"></th>
            <th>Date</th>
            <th>Price</th>
            <th>Payment Type</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td><img class="img-fluid" src="/assets/images/courses/course-details.png" alt="Course pic"></td>
            <td>
              <strong>Algebraic Expression</strong>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              <span>By Ali Jafar</span>
            </td>
            <td>Jan 15, 2018</td>
            <td>
              <strong><i class="fa fa-dollar"></i>200</strong>
            </td>
            <td>Visa****<span>0000</span></td>
            <td>
              <a href="#" class="btn default-btn-sm">Receipt</a>
            </td>
          </tr>
          <tr>
            <td><img class="img-fluid" src="/assets/images/courses/course-details.png" alt="Course pic"></td>
            <td>
              <strong>Algebraic Expression</strong>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              <span>By Ali Jafar</span>
            </td>
            <td>Jan 15, 2018</td>
            <td>
              <strong><i class="fa fa-dollar"></i>200</strong>
            </td>
            <td>Visa****<span>0000</span></td>
            <td>
              <a href="#" class="btn default-btn-sm">Receipt</a>
            </td>
          </tr>
          <tr>
            <td><img class="img-fluid" src="/assets/images/courses/course-details.png" alt="Course pic"></td>
            <td>
              <strong>Algebraic Expression</strong>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              <span>By Ali Jafar</span>
            </td>
            <td>Jan 15, 2018</td>
            <td>
              <strong><i class="fa fa-dollar"></i>200</strong>
            </td>
            <td>Visa****<span>0000</span></td>
            <td>
              <a href="#" class="btn default-btn-sm">Receipt</a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div><!-- My purchase history -->

    <div id="my-receipt" class="tab-pane fade show" role="tabpanel">
      <div class="mt15 mb40 text-right">
        <a class="btn default-btn-sm mr20">Print</a>
        <a class="btn default-btn-sm mr20">Download</a>
        <a class="btn default-btn-sm">Share</a>
      </div>
      <div class="receipt-history-info clearfix mb15">
        <div class="left-bar-info pull-left">
          <strong>Edutube BD</strong><br>
          123/C, Main Road, Edu Plaza, Dhaka, Bangladesh <br>
          <a href="mailto:contact@edutubebd.com">contact@edutubebd.com</a> <br>
          <a target="_blank" href="www.edutubebd.com"></a>
        </div>
        <div class="right-bar-info pull-right text-right">
          <span>Date: January 12, 2018</span><br>
          <span>Invoice: 1012222000010122220000</span>
        </div>
      </div><!-- Receipt history -->
      <div class="history-table mb15">
        <table class="table edu-table-default">
          <thead>
          <tr>
            <th>Item</th>
            <th>Order Date</th>
            <th>Coupon Code</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total Amount</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Algebraic expression</td>
            <td>Jan, 15 2018</td>
            <td>-</td>
            <td>1</td>
            <td>
              <strong><i class="fa fa-taka"></i>৳ 200</strong>
            </td>
            <td>
              <strong><i class="fa fa-taka"></i>৳ 200</strong>
            </td>
          </tr>
          <tr>
            <td>Algebraic expression</td>
            <td>Jan, 15 2018</td>
            <td>-</td>
            <td>1</td>
            <td>
              <strong><i class="fa fa-taka"></i>৳ 200</strong>
            </td>
            <td>
              <strong><i class="fa fa-taka"></i>৳ 200</strong>
            </td>
          </tr>
          <tr>
            <td>Algebraic expression</td>
            <td>Jan, 15 2018</td>
            <td>-</td>
            <td>1</td>
            <td>
              <strong><i class="fa fa-taka"></i>৳ 200</strong>
            </td>
            <td>
              <strong><i class="fa fa-taka"></i>৳ 200</strong>
            </td>
          </tr>
          <tr>
            <td colspan="4"></td>
            <td><strong>Grand Total</strong></td>
            <td>
              <strong><i class="fa fa-taka"></i>৳ 200</strong>
            </td>
          </tr>
          <tr>
            <td colspan="4"></td>
            <td><strong>Total Paid</strong></td>
            <td>
              <strong><i class="fa fa-taka"></i>৳ 200</strong>
            </td>
          </tr>
          </tbody>
        </table>
      </div><!-- Edu default table -->
      <div class="left-bar-info mb40">
        <strong>Bill To: Mutaher Hossain Litu</strong><br>
        123/A, Central Road, Dhaka, Bangladesh <br>
        <a href="mailto:litu@email.com">litu@email.com</a>
      </div>
    </div><!-- My receipt content -->
  </div>


</section>
