<app-slider></app-slider>

<div class='landing-top-section'>
  <section id="largest-community"> <!-- Largest community -->
    <div class="largest-brand-wrap">
      <div class="row brand-row">
        <div class="col-xs-12 col-md-4 brand-column">
          <div class="brand-item">
            <div class="item-img">
              <img src="assets/images/community.png" class="img-responsive" alt="">
            </div>
            <div class="item-text">
              <h4>Largest Community</h4>
              <p>
                Be a part of our community
              </p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-4 brand-column">
          <div class="brand-item">
            <div class="item-img">
              <img src="assets/images/tutor.png" class="img-responsive" alt="">
            </div>
            <div class="item-text">
              <h4>Expert Tutors</h4>
              <p>
                Get assistance from your tutor
              </p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-4 brand-column">
          <div class="brand-item">
            <div class="item-img">
              <img src="assets/images/access.png" class="img-responsive" alt="">
            </div>
            <div class="item-text">
              <h4>Lifetime Access</h4>
              <p>
                Learn at your own time
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="our-content">
    <div class="about-overlay bg-img-src2"></div>
    <div class="container">
      <div class="row justify-content-md-center row-50">
        <div class="col-md-6 col-lg-3">
          <!-- Box counter-->
          <article class="box-counter">
            <div class="box-counter-icon linear-icon-mustache-glasses">
              <i class='fa fa-file-pdf-o'></i>
            </div>
            <div class="box-counter-wrap">
              <div class="counter animated">1000</div>
            </div>
            <p class="box-counter-title">Content</p>
          </article>
        </div>
        <div class="col-md-6 col-lg-3">
          <!-- Box counter-->
          <article class="box-counter">
            <div class="box-counter-icon linear-icon-smile"><i class="fa fa-file-video-o"></i></div>
            <div class="box-counter-wrap">
              <div class="counter animated">2000</div>
            </div>
            <p class="box-counter-title"> Video Tutorial </p>
          </article>
        </div>
        <div class="col-md-6 col-lg-3">
          <!-- Box counter-->
          <article class="box-counter">
            <div class="box-counter-icon linear-icon-code"><i class="fa fa-user-circle-o"></i></div>
            <div class="box-counter-wrap">
              <div class="counter animated">25</div>
            </div>
            <p class="box-counter-title">Teacher</p>
          </article>
        </div>
        <div class="col-md-6 col-lg-3">
          <!-- Box counter-->
          <article class="box-counter">
            <div class="box-counter-icon linear-icon-library"><i class="fa fa-book"></i></div>
            <div class="box-counter-wrap">
              <div class="counter animated">105</div>
            </div>
            <p class="box-counter-title">Courses</p>
          </article>
        </div>
      </div>
    </div>
  </section><!-- Numbers panel -->

  <div class="varieties-courses mb30">
    <section class="top-viewed container mt20 mb20">
      <div class="subject-group">
        <h3>Top viewed courses</h3>
        <div class="grid-wrap mb20">
          <div class="grid-item">
            <a href="#">
              <img src="assets/images/courses/math.png" class="img-responsive" alt="Math pic">
              <div class="item-info">
                <p>Mathematics</p>
                <span>Plabon Asad</span>
                <div class="ratting-section">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <span> <strong>4.5</strong>(7,000 rattings) </span>
                </div>
                <div class="text-right main-price">
                  <span>$40.2</span>
                  <strong>$22.03</strong>
                </div>
              </div>
            </a>
          </div><!-- Grid item -->
          <div class="grid-item">
            <a href="#">
              <img src="assets/images/courses/math.png" class="img-responsive" alt="Math pic">
              <div class="item-info">
                <p>Mathematics</p>
                <span>Plabon Asad</span>
                <div class="ratting-section">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <span> <strong>4.5</strong>(7,000 rattings) </span>
                </div>
                <div class="text-right main-price">
                  <span>$40.2</span>
                  <strong>$22.03</strong>
                </div>
              </div>
            </a>
          </div><!-- Grid item -->
          <div class="grid-item">
            <a href="#">
              <img src="assets/images/courses/math.png" class="img-responsive" alt="Math pic">
              <div class="item-info">
                <p>Mathematics</p>
                <span>Plabon Asad</span>
                <div class="ratting-section">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <span> <strong>4.5</strong>(7,000 rattings) </span>
                </div>
                <div class="text-right main-price">
                  <span>$40.2</span>
                  <strong>$22.03</strong>
                </div>
              </div>
            </a>
          </div><!-- Grid item -->
          <div class="grid-item">
            <a href="#">
              <img src="assets/images/courses/math.png" class="img-responsive" alt="Math pic">
              <div class="item-info">
                <p>Mathematics</p>
                <span>Plabon Asad</span>
                <div class="ratting-section">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <span> <strong>4.5</strong>(7,000 rattings) </span>
                </div>
                <div class="text-right main-price">
                  <span>$40.2</span>
                  <strong>$22.03</strong>
                </div>
              </div>
            </a>
          </div><!-- Grid item -->
          <div class="grid-item">
            <a href="#">
              <img src="assets/images/courses/math.png" class="img-responsive" alt="Math pic">
              <div class="item-info">
                <p>Mathematics</p>
                <span>Plabon Asad</span>
                <div class="ratting-section">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <span> <strong>4.5</strong>(7,000 rattings) </span>
                </div>
                <div class="text-right main-price">
                  <span>$40.2</span>
                  <strong>$22.03</strong>
                </div>
              </div>
            </a>
          </div><!-- Grid item -->
        </div><!-- CSS grid -->
      </div><!-- Subject group -->

    </section>
    <section class="latest-upload container mt20 mb20">
      <div class="subject-group">
        <h3>Latest upload courses & contents</h3>
        <div class="grid-wrap mb20">
          <div class="grid-item">
            <a href="#">
              <img src="assets/images/courses/math.png" class="img-responsive" alt="Math pic">
              <div class="item-info">
                <p>Mathematics</p>
                <span>Plabon Asad</span>
                <div class="ratting-section">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <span> <strong>4.5</strong>(7,000 rattings) </span>
                </div>
                <div class="text-right main-price">
                  <span>$40.2</span>
                  <strong>$22.03</strong>
                </div>
              </div>
            </a>
          </div><!-- Grid item -->
          <div class="grid-item">
            <a href="#">
              <img src="assets/images/courses/math.png" class="img-responsive" alt="Math pic">
              <div class="item-info">
                <p>Mathematics</p>
                <span>Plabon Asad</span>
                <div class="ratting-section">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <span> <strong>4.5</strong>(7,000 rattings) </span>
                </div>
                <div class="text-right main-price">
                  <span>$40.2</span>
                  <strong>$22.03</strong>
                </div>
              </div>
            </a>
          </div><!-- Grid item -->
          <div class="grid-item">
            <a href="#">
              <img src="assets/images/courses/math.png" class="img-responsive" alt="Math pic">
              <div class="item-info">
                <p>Mathematics</p>
                <span>Plabon Asad</span>
                <div class="ratting-section">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <span> <strong>4.5</strong>(7,000 rattings) </span>
                </div>
                <div class="text-right main-price">
                  <span>$40.2</span>
                  <strong>$22.03</strong>
                </div>
              </div>
            </a>
          </div><!-- Grid item -->
          <div class="grid-item">
            <a href="#">
              <img src="assets/images/courses/math.png" class="img-responsive" alt="Math pic">
              <div class="item-info">
                <p>Mathematics</p>
                <span>Plabon Asad</span>
                <div class="ratting-section">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <span> <strong>4.5</strong>(7,000 rattings) </span>
                </div>
                <div class="text-right main-price">
                  <span>$40.2</span>
                  <strong>$22.03</strong>
                </div>
              </div>
            </a>
          </div><!-- Grid item -->
          <div class="grid-item">
            <a href="#">
              <img src="assets/images/courses/math.png" class="img-responsive" alt="Math pic">
              <div class="item-info">
                <p>Mathematics</p>
                <span>Plabon Asad</span>
                <div class="ratting-section">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <span> <strong>4.5</strong>(7,000 rattings) </span>
                </div>
                <div class="text-right main-price">
                  <span>$40.2</span>
                  <strong>$22.03</strong>
                </div>
              </div>
            </a>
          </div><!-- Grid item -->
        </div><!-- CSS grid -->
      </div><!-- Subject group -->
    </section>
    <section class="top-shared container mt20 mb20">
      <div class="subject-group">
        <h3>Top shared courses & contents</h3>
        <div class="grid-wrap mb20">
          <div class="grid-item">
            <a href="#">
              <img src="assets/images/courses/math.png" class="img-responsive" alt="Math pic">
              <div class="item-info">
                <p>Mathematics</p>
                <span>Plabon Asad</span>
                <div class="ratting-section">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <span> <strong>4.5</strong>(7,000 rattings) </span>
                </div>
                <div class="text-right main-price">
                  <span>$40.2</span>
                  <strong>$22.03</strong>
                </div>
              </div>
            </a>
          </div><!-- Grid item -->
          <div class="grid-item">
            <a href="#">
              <img src="assets/images/courses/math.png" class="img-responsive" alt="Math pic">
              <div class="item-info">
                <p>Mathematics</p>
                <span>Plabon Asad</span>
                <div class="ratting-section">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <span> <strong>4.5</strong>(7,000 rattings) </span>
                </div>
                <div class="text-right main-price">
                  <span>$40.2</span>
                  <strong>$22.03</strong>
                </div>
              </div>
            </a>
          </div><!-- Grid item -->
          <div class="grid-item">
            <a href="#">
              <img src="assets/images/courses/math.png" class="img-responsive" alt="Math pic">
              <div class="item-info">
                <p>Mathematics</p>
                <span>Plabon Asad</span>
                <div class="ratting-section">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <span> <strong>4.5</strong>(7,000 rattings) </span>
                </div>
                <div class="text-right main-price">
                  <span>$40.2</span>
                  <strong>$22.03</strong>
                </div>
              </div>
            </a>
          </div><!-- Grid item -->
          <div class="grid-item">
            <a href="#">
              <img src="assets/images/courses/math.png" class="img-responsive" alt="Math pic">
              <div class="item-info">
                <p>Mathematics</p>
                <span>Plabon Asad</span>
                <div class="ratting-section">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <span> <strong>4.5</strong>(7,000 rattings) </span>
                </div>
                <div class="text-right main-price">
                  <span>$40.2</span>
                  <strong>$22.03</strong>
                </div>
              </div>
            </a>
          </div><!-- Grid item -->
          <div class="grid-item">
            <a href="#">
              <img src="assets/images/courses/math.png" class="img-responsive" alt="Math pic">
              <div class="item-info">
                <p>Mathematics</p>
                <span>Plabon Asad</span>
                <div class="ratting-section">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <span> <strong>4.5</strong>(7,000 rattings) </span>
                </div>
                <div class="text-right main-price">
                  <span>$40.2</span>
                  <strong>$22.03</strong>
                </div>
              </div>
            </a>
          </div><!-- Grid item -->
        </div><!-- CSS grid -->
      </div><!-- Subject group -->
    </section>
  </div>

  <section id="online-learn">
    <div class="learn-anytime">
      <div class="col-lg-12">
        <div class="row learn-anytime-row">
          <div class="col-md-6 left-col">
            <h4>
              ONLINE LEARNING ASSISTANCE ANYTIME
            </h4>
            <h5>
              Find a tutor & solve your problem
            </h5>
            <p>
              Are your stuck with a problem that need immediate solution? Write down and get
              microtutoring help while at home or on the go. Registered experts are here to
              help from renowned institutions. Learn something new everyday.
            </p>
            <form class="search-form" role="search">
              <div class="input-group search-group-btn">
                <input type="text" class="form-control search-btn-input" placeholder="e.g. mathematics">
                <button type="submit" class="input-group-addon group-btn">
                  Find a Tutor
                </button>
              </div>
            </form>
          </div>
          <div class="col-md-6 right-col"></div>
        </div>
      </div>
    </div>
  </section>
</div>

<section id='community-section'>
  <h2 class='text-center primary-header'> Our Amazing community </h2>
  <div id="communityCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#communityCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#communityCarousel" data-slide-to="1"></li>
      <li data-target="#communityCarousel" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class='slider-items'>
          <div class='slider-item'>
            <p>
              "I love the content and teaching approach and wouldn't be where I am now without Edutube. Online courses increased my discipline
              and self-esteem and I'm not affraid to take chalanges in my career anymore"
            </p>
            <div class='user-section clearfix'>
              <div class='avatar'>
                <img src="assets/images/newaj.jpg" class="img-responsive" alt="">
              </div>
              <div class='information'>
                <h4> Nawaj Uddin </h4>
                Student, BUET
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class='slider-items'>
          <div class='slider-item'>
            <p>
              "I love the content and teaching approach and wouldn't be where I am now without Edutube. Online courses increased my discipline
              and self-esteem and I'm not affraid to take chalanges in my career anymore"
            </p>
            <div class='user-section clearfix'>
              <div class='avatar'>
                <img src="assets/images/newaj.jpg" class="img-responsive" alt="">
              </div>
              <div class='information'>
                <h4> Nawaj Uddin </h4>
                Student, BUET
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class='slider-items'>
          <div class='slider-item'>
            <p>
              "I love the content and teaching approach and wouldn't be where I am now without Edutube. Online courses increased my discipline
              and self-esteem and I'm not affraid to take chalanges in my career anymore"
            </p>
            <div class='user-section clearfix'>
              <div class='avatar'>
                <img src="assets/images/newaj.jpg" class="img-responsive" alt="">
              </div>
              <div class='information'>
                <h4> Nawaj Uddin </h4>
                Student, BUET
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#communityCarousel" role="button" data-slide="prev">
      <i class='fa fa-angle-left'></i>
    </a>
    <a class="carousel-control-next" href="#communityCarousel" role="button" data-slide="next">
      <i class='fa fa-angle-right'></i>
    </a>
  </div>
</section><!-- Our Amazing community  -->

<section id="question-blog" class="mb60">
  <div class="question-blog">
    <div class="col-lg-12 question-blog-container">
      <div class="row question-blog-row">
        <div class="col-md-6 col-xs-12 left-col">
          <h4>ENCOURAGE ASKING " - REPLY "</h4>
          <p>
            Question & Answer blog where questions are asked, answered, edited and organized
            by students and tutors. This is a great portal for users to learn new things and
            to connect with others. You can share your thoughts by answering questions and
            build your reputation.
          </p>
          <a href="#" class="btn primary-btn ">Join Question & Answer Blog</a>
        </div>
        <div class="col-md-6 col-xs-12 right-col">
          <h3>LATEST ADDITION IN QUESTION BANK</h3>
          <ul>
            <li>
              <div class="question-item">
                <div class="item-img">
                  <img src="/assets/images/learn-eng.png" alt="">
                </div>
                <div class="item-content">
                  <h5>SSC Exam Preparation English Question Bank - 2018</h5>
                  <p>Total Questions 500</p>
                  <ul>
                    <li><a href="">SSC</a></li>
                    <li><a href="">English</a></li>
                    <li><a href="">All Level</a></li>
                  </ul>
                </div>
              </div>
            </li>
            <li>
              <div class="question-item">
                <div class="item-img">
                  <img src="assets/images/ielts.png" alt="">
                </div>
                <div class="item-content">
                  <h5>IELTS Exam Preparation English Question Bank - 2018</h5>
                  <p>Total Questions 500</p>
                  <ul>
                    <li><a href="">IELTS</a></li>
                    <li><a href="">All Level</a></li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>
          <div class="see-all">
            <a href="#">See All</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</section><!-- Forum & question bank -->
