<section id="profile-sub-nav">
  <div class="sub-nav-fluid">
    <ul class="sub-nav-ul-style text-center">
      <li><a href="#" class="active">Profile</a></li>
      <li><a routerLink="/instructor/dashboard">Home</a></li>
    </ul>
  </div>
</section>
<section id="profile-page">
  <div class="profile-wrap">
    <div class="profile-container container">
      <div class='profile-top-bar'>
        <a class='edu-link-default' routerLink="/profile/edit"> Edit Profile </a>
      </div>
      <div class="profile row">
        <div class="col-sm-3">
          <div class="side-panel-default pb20">
            <section class='clearfix' style="border: none;">
              <div class="profile-avatar text-center">
                <div class='avatar teacher-profile-avatar'>
                  <img src="{{env.assets_host}}{{user.avatar}}" alt="profile image" *ngIf="user.avatar"/>
                  <img src="/assets/images/no_profile.png" *ngIf="!user.avatar"/>
                  <br/>
                  <small class='mt5 mb5'> Online </small>
                </div>
              </div>
              <div class='profile-basic-information text-center'>
                <h3> $ {{user.charge}}/hr </h3>
                <p>
                  Hello! This is {{user.first_name}} {{user.last_name}}. Math tutor for you.
                </p>
              </div>
            </section>
            <div class='com-contact-section'>
                <img src="/assets/images/call.png"/>
                <img src="/assets/images/chat.png" class='mr40 ml40'/>
                <img src="/assets/images/love.png"/>
            </div>
            <div class='get-assistance-section'>
              <a href='#' class='btn primary-btn btn-block'> Get Assistance </a>
              <a href='#' class='btn default-btn btn-block'> Follow Me </a>
            </div>
          </div>
        </div>
        <div class="col-sm-9">
          <div class="side-panel-default">
            <div class="panel-space-body">
              <div class='alert alert-danger' *ngIf="error"> {{error}} </div>
              <div class='teacher-profile-info'>
                <h3> {{user.name}} </h3>
                <div class='ratting-section'>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <span> 4.5(7,000 rattings) </span>
                </div>
                <p>
                  {{user.occupation}} <br/>
                  {{user.institution}}, {{user.city}}
                </p>
                <p>
                  {{user.about_me}}
                </p>
                <div class='user-stats-section'>
                  <section>
                    <span> Online Students </span>
                    40,000
                  </section>
                  <section>
                    <span> Courses </span>
                    7
                  </section>
                  <section>
                    <span> Live Clases </span>
                    5
                  </section>
                  <section>
                    <span> Followers </span>
                    55,000
                  </section>
                  <section>
                    <span> Following </span>
                    73
                  </section>
                </div>
                <hr/>
                <div class='teaching-assistance-section'>
                  <div class='profile-education-list'>
                    <h3> Teaching Assistance: </h3>
                    <ul class='list-default ml20'>
                      <li *ngFor="let exp of experiences">
                        <b> {{exp.designation}}, {{exp.subject}} </b>
                        <div>
                          {{exp.institution}}, {{exp.city}}
                        </div>
                        {{exp.city}}, {{exp.country}}
                      </li>
                    </ul>
                  </div>
                  <hr/>
                   <div class='profile-education-list'>
                    <h3> Education: </h3>
                    <ul class='list-default ml20'>
                      <li *ngFor="let edu of educations">
                        <b> {{edu.subject}} </b>
                        <div>
                          {{edu.institution}}
                        </div>
                        {{edu.from_year}} - {{edu.to_year}}
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <p class='fz20'>
            Courses taught by {{user.first_name}} {{user.last_name}}
          </p>
          <div class='course-listing'>
            <div class='row'>
              <div class='col-lg-12'>
               <div class='row'>
                <div class="course-block col-sm-4" *ngFor="let course of courses">
                  <div class='image-header' [style.background-image]="thumb(course.image)"> </div>
                  <div class="course-body">
                    <h3> 
                      <a class='edu-link-default' routerLink="/courses/{{course.id}}"> {{course.title}} </a>
                    </h3>
                    <div class='course-details'>  </div>
                    <div class='course-footer'>
                      <div class='author'> {{user.first_name}} {{user.last_name}} </div>
                      <div class='general-ratting mt4 mb3'>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                      </div>
                      <div class='course-fee clearfix'> 
                        <b class='pull-right'> {{course.price ? course.price_currency + " " + course.price : 'Free'}} </b>
                      </div>
                    </div>
                  </div>
                </div>
               </div>
             </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </section>
