<div class='col-lg-12'>
 <div class='profile-top-bar'>
   <a class='edu-link-default' href='#'> Back to Profile </a>
 </div>
 <div class='row'>
  <div class='col-sm-3'>
    <div class="nav flex-column nav-pills edu-pill-wrapper" id="v-pills-tab" role="tablist" aria-orientation="vertical">
	  <a class="nav-link active" data-toggle="pill" href="#basic-info-tab" role="tab" aria-selected="true">Basic Information</a>
	  <a class="nav-link" data-toggle="pill" href="#contact-info-tab" role="tab" aria-selected="true">Contact Information</a>
	  <a class="nav-link" data-toggle="pill" href="#about-info-tab" role="tab" aria-selected="true">About Me</a>
	  <a class="nav-link" data-toggle="pill" href="#education-info-tab" role="tab" aria-selected="true">Education</a>
	  <a class="nav-link" data-toggle="pill" href="#language-info-tab" role="tab" aria-selected="true">Language</a>
	</div>
  </div>
  <div class='col-sm-9'>
    <div class="tab-content" id="v-pills-tabContent">
	  <div class="tab-pane fade show active" id="basic-info-tab" role="tabpanel">
        <div class='edu-panel-default'>
      <div class='panel-header'> Basic Information </div>
      <div class='panel-body'>
      	<div class='col-sm-12'>
      	  <div class='row'>
      	  	<div class='col-sm-3 profile-avatar-wrapper'>
      	  		<div class='profile-avatar'></div>
      	  		<a class='edu-link-default' href='#'> Upload Photo </a>
      	  	</div>
      	  	<div class='col-sm-9'>
      	  	  <div class='row'>
      	  	  	<div class='col-sm-6'>
      	  	  	  <div class='form-group'>
                    <label class='edu-label-default'> First Name </label>
                    <input type="text" name='first_name' class='form-control-default'> 
      	  	  	  </div>
      	  	  	</div>
      	  	  	<div class='col-sm-6'>
      	  	  	<div class='form-group'>
                    <label class='edu-label-default'> Last Name </label>
                    <input type="text" name='last_name' class='form-control-default'> 
      	  	  	  </div>
      	  	  	</div>
      	  	  </div>
      	  	  <div class='row'>
      	  	  	<div class='col-sm-5'>
      	  	  	  <div class='form-group'>
                    <label class='edu-label-default'> Class/Level/Degree </label>
                    <input type="text" name='degree' class='form-control-default'> 
      	  	  	  </div>
      	  	  	</div>
      	  	  	<div class='col-sm-7'>
      	  	  	  <div class='form-group'>
                    <label class='edu-label-default'> School/College/University </label>
                    <input type="text" name='college' class='form-control-default'> 
      	  	  	  </div>
      	  	  	</div>
      	  	  </div>
      	  	  <div class='upload-avatar'>
      	  	  	<label class='edu-label-default'> Location </label>
      	  	  </div>
      	  	  <div class='row'>
      	  	  	<div class='col-sm-4'>
      	  	  	  <div class='form-group'>
                    <select name='country' class='form-control-default'>
                      <option value='BD'> Bangladesh </option>
                      <option value='BD'> Others </option>
                    </select> 
      	  	  	  </div>
      	  	  	</div>
      	  	  	<div class='col-sm-8'>
      	  	  	  <div class='form-group'>
                    <input type="text" name='city' class='form-control-default'> 
      	  	  	  </div>
      	  	  	</div>
      	  	  </div>
      	  	  <div class='row text-center'>
      	  	   <input type="submit" value='Save' class='btn primary-btn btn-size-2x mr-auto'>
      	  	  </div>
      	  	</div>
      	  </div>
      	</div>
      </div>
    </div>
	  </div>
	  <div class="tab-pane fade" id="contact-info-tab" role="tabpanel">
        <div class='edu-panel-default'>
		  <div class='panel-header'> Contact Informations </div>
		  <div class='panel-body'>
		  <div class='row'>
		    <div class='col-lg-12'>
		  	  <div class='row'>
		  	  	<div class='col-sm-6'>
		  	  	  	<div class='edu-form-group'>
			          <label class='edu-label-default'> Email Address </label>
			          <input type="text" name='email' class='form-control-default'> 
		  	  	    </div> 
		  	  	</div>
		  	  	<div class='col-sm-6'>
			  	  	<div class='edu-form-group'>
				        <label class='edu-label-default'> Phone Number </label>
				        <input type="text" name='phone' class='form-control-default'> 
			  	  	  </div>
			  	</div>
		  	  </div>
		  	  
		  	  <div class='row text-center'>
		  	   <input type="submit" value='Save' class='btn primary-btn btn-size-2x mr-auto'>
		  	  </div>
		  	</div>
		  </div>
		  </div>
		</div>
	  </div>
	  <div class="tab-pane fade" id="about-info-tab" role="tabpanel">
        <div class='edu-panel-default'>
		  <div class='panel-header'> About Me </div>
		  <div class='panel-body'>
		    <div class='col-lg-12'>
		    <div class='row'>
			    <div class='form-group' style='width: 100%;'>
			    <label class='edu-label-default'> Description </label>
			      <textarea name="about_me" class='form-control-default'></textarea>
			    </div>
		    </div>
		    <div class='row text-center'>
		      <input type="submit" value='Save' class='btn primary-btn btn-size-2x mr-auto'>
		    </div>
		    </div>
		  </div>
		</div>
	  </div>
	  <div class="tab-pane fade" id="education-info-tab" role="tabpanel">
        <div class='edu-panel-default'>
		  <div class='panel-header'> Education </div>
		  <div class='panel-body'>
			  <div class='inner-panel'>
			  <div class='col-lg-12'>
		      	  	  <div class='row'>
		      	  	  	<div class='col-sm-6'>
		      	  	  	  <div class='form-group'>
		                    <label class='edu-label-default'> School/Collage/University </label>
		                    <input type="text" name='first_name' class='form-control-default'> 
		      	  	  	  </div>
		      	  	  	</div>
		      	  	  	<div class='col-sm-6'>
		      	  	  	<div class='form-group'>
		                    <label class='edu-label-default'> Website </label>
		                    <input type="text" name='last_name' class='form-control-default'> 
		      	  	  	  </div>
		      	  	  	</div>
		      	  	  </div>
		      	  	  <div class='row'>
		      	  	  	<div class='col-sm-6'>
		      	  	  	  <div class='form-group'>
		                    <label class='edu-label-default'> Class/Level/Degree </label>
		                    <input type="text" name='degree' class='form-control-default'> 
		      	  	  	  </div>
		      	  	  	</div>
		      	  	  	<div class='col-sm-6'>
		      	  	  	  <div class='form-group'>
		                    <label class='edu-label-default'> Subject </label>
		                    <input type="text" name='college' class='form-control-default'> 
		      	  	  	  </div>
		      	  	  	</div>
		      	  	  </div>
		      	  	  <div class='upload-avatar'>
		      	  	  	<label class='edu-label-default'> Location </label>
		      	  	  </div>
		      	  	  <div class='row'>
		      	  	  	<div class='col-sm-5'>
		      	  	  	  <div class='form-group'>
		                    <select name='country' class='form-control-default'>
		                      <option value='BD'> Bangladesh </option>
		                      <option value='BD'> Others </option>
		                    </select> 
		      	  	  	  </div>
		      	  	  	</div>
		      	  	  	<div class='col-sm-5'>
		      	  	  	  <div class='form-group'>
		                    <input type="text" name='city' class='form-control-default'> 
		      	  	  	  </div>
		      	  	  	</div>
		      	  	  </div>
		      	  	  <div class='edu-form-group'>
		      	  	    <label class='edu-label-default'> Details </label>
		      	  	    <textarea name="details" class='form-control-default'></textarea>
		      	  	  </div>
		      	  	  <div class='actions'>
		      	  	    <input type="submit" value='Add Language' class='btn default-btn btn-size-2x mr10'>
		      	  	    <input type="submit" value='Cancel' class='btn default-btn btn-size-2x'>
		      	  	  </div>
		      	  	</div>
			  </div>
		  </div>
		</div>
	  </div>
	  <div id='language-info-tab' class="tab-pane fade" role="tabpanel">
        <div class='edu-panel-default'>
		  <div class='panel-header'> Languages </div>
		  <div class='panel-body'>
		    <div class='inner-panel'>
		    	<div class='row'>
		    	  <div class='col-lg-12'>
		    	    <div class='row'>
		    	      <div class='col-sm-7'>
			    	      <div class='edu-form-group'>
			    	      	<label class='edu-label-default'> Language </label>
			    	        <input type="text" name='language' class='form-control-default'>
			    	      </div>
		    	      </div>
		    	      <div class='col-sm-5'>
		    	        <div class='edu-form-group'>
			    	      <label class='edu-label-default'> Proficiency Lavel </label>
			    	      <select name='proficiency_level' class='form-control-default'>
		                    <option value="nativ"> Native </option>
		                    <option value="other"> Others </option>
			    	      </select>
			    	    </div>
		    	      </div>
		    	    </div>
		    	  </div>
		    	</div>
		    	<div class='actions'>
		    	  <input type="submit" value="Add Language" class='btn default-btn btn-size-2x mr10'>
		    	  <input type="submit" value="Cancel" class='btn default-btn btn-size-2x'>
		    	</div>
		    </div>
		    <a class='edu-link-default edu-font-sx' href='#'> + Add Language </a>
		  </div>
		</div>
	  </div>
	</div>
  </div>
 </div>
</div>