.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
}

.btn-text {
	background: transparent;
	color: #333333;
	border: 0;
	font-size: 14px;
	cursor: pointer;
}

.edit-education-display-panel {
  font-family: 'Open Sans';
  padding: 15px;
  border-radius: 5px;
  background: #f1f1f1;
  margin-bottom: 10px;
  h3 {
    font-size: 14px;
    font-weight: bold;
    margin: 0; 
  }
  p {
    margin: 0;
    font-size: 14px;
    font-weight: normal;
  }
  .edit-education-link {
    color: #333333;
    font-size: 13px;
    float: right;
  }
}