<div id="profile-edit-page">
<div class='profile-container container'>
	<div class='col-lg-12'>
 <div class='profile-top-bar'>
   <a class='edu-link-default' routerLink="/profile"> Back to Profile </a>
 </div>
 <div class="alert alert-danger" *ngIf="error">
   {{error}}
 </div>
 <div class="alert alert-info text-center" *ngIf="info">
   {{info}}
 </div>
 <div class='row'>
  <div class='col-sm-3'>
    <div class="nav flex-column nav-pills edu-pill-wrapper" id="v-pills-tab" role="tablist" aria-orientation="vertical">
	  <a class="nav-link active" data-toggle="pill" href="#basic-info-tab" role="tab" aria-selected="true">Basic Information</a>
	  <a class="nav-link" data-toggle="pill" href="#contact-info-tab" role="tab" aria-selected="true">Contact Information</a>
	  <a class="nav-link" data-toggle="pill" href="#about-info-tab" role="tab" aria-selected="true">About Me</a>
	  <a class="nav-link" data-toggle="pill" href="#education-info-tab" role="tab" aria-selected="true">Education</a>
	  <a class="nav-link" data-toggle="pill" href="#language-info-tab" role="tab" aria-selected="true">Language</a>
	</div>
  </div>
  <div class='col-sm-9'>
    <div class="tab-content" id="v-pills-tabContent">
	  <div class="tab-pane fade show active" id="basic-info-tab" role="tabpanel">
		  <div class='edu-panel-default'>
			  <div class='panel-header'> Basic Information</div>
			  <div class='panel-body'>
				  <div class='col-sm-12'>
					  <div class='row'>
						  <div class='col-sm-3 profile-avatar-wrapper'>
							  <div class='profile-avatar'>
                                <img src="{{env.assets_host}}{{user.avatar}}" *ngIf="user.avatar"/>
                                <img src="/assets/images/no_profile.png" *ngIf="!user.avatar"/>
							  </div>
							  <div class="upload-btn-wrapper">
							    <button class="btn-text">Upload/Change</button>
							    <input type="file" name="file" id="file" (change)="onFileChanged($event)" />
							  </div>
							  <div *ngIf="uploading" class='loader'>
							  	<i class='fa fa-spinner fa-spin'></i> Uploading...
							  </div>
						  </div>
						  <div class='col-sm-9'>
							  <div class='row'>
								  <div class='col-sm-6'>
									  <div class='form-group'>
										  <label class='edu-label-default'> First Name </label>
										  <input type="text" name='first_name' [(ngModel)]="user.first_name"
												 class='form-control-gray'>
									  </div>
								  </div>
								  <div class='col-sm-6'>
									  <div class='form-group'>
										  <label class='edu-label-default'> Last Name </label>
										  <input type="text" name='last_name' [(ngModel)]="user.last_name"
												 class='form-control-gray'>
									  </div>
								  </div>
							  </div>
							  <div class='row'>
								  <div class='col-sm-5'>
									  <div class='form-group'>
										  <label class='edu-label-default'> Class/Level/Degree </label>
										  <input type="text" name='degree' [(ngModel)]="user.degree"
												 class='form-control-gray'>
									  </div>
								  </div>
								  <div class='col-sm-7'>
									  <div class='form-group'>
										  <label class='edu-label-default'> School/College/University </label>
										  <input type="text" name='institution' [(ngModel)]="user.institution"
												 class='form-control-gray'>
									  </div>
								  </div>
							  </div>
							  <div class='upload-avatar'>
								  <label class='edu-label-default'> Location </label>
							  </div>
							  <div class='row'>
								  <div class='col-sm-4'>
									  <div class='form-group'>
										  <select name='country' [(ngModel)]="user.country"
												  class='form-control-gray'>
											  <option value='Bangladesh'> Bangladesh</option>
											  <option value='India'> India</option>
											  <option value='Nepal'> Nepal</option>
											  <option value='Others'> Others</option>
										  </select>
									  </div>
								  </div>
								  <div class='col-sm-8'>
									  <div class='form-group'>
										  <input type="text" name='city' [(ngModel)]="user.city"
												 class='form-control-gray'>
									  </div>
								  </div>
							  </div>
							  <div class='text-right'>
								  <input type="submit" value='Save' (click)="update_profile()"
										 class='btn primary-btn btn-size-2x edu-btn-default-width'>
							  </div>
						  </div>
					  </div>
				  </div>
			  </div>
		  </div>
	  </div>
	  <div class="tab-pane fade" id="contact-info-tab" role="tabpanel">
        <div class='edu-panel-default'>
		  <div class='panel-header'> Contact Informations </div>
		  <div class='panel-body'>
		  <div class='row'>
		    <div class='col-lg-12'>
		  	  <div class='row'>
		  	  	<div class='col-sm-6'>
		  	  	  	<div class='edu-form-group'>
			          <label class='edu-label-default'> Email Address </label>
			          <input type="text" name='email' [(ngModel)]="user.email" class='form-control-gray'>
		  	  	    </div>
		  	  	</div>
		  	  	<div class='col-sm-6'>
			  	  	<div class='edu-form-group'>
				        <label class='edu-label-default'> Phone Number </label>
				        <input type="text" name='phone' [(ngModel)]="user.phone" class='form-control-gray'>
			  	  	  </div>
			  	</div>
		  	  </div>

		  	  <div class='text-right'>
		  	   <input type="submit" value='Save' (click)="update_profile()" class='btn primary-btn btn-size-2x edu-btn-default-width'>
		  	  </div>
		  	</div>
		  </div>
		  </div>
		</div>
	  </div>
	  <div class="tab-pane fade" id="about-info-tab" role="tabpanel">
        <div class='edu-panel-default'>
		  <div class='panel-header'> About Me </div>
		  <div class='panel-body'>
		    <div class='col-lg-12'>
		    <div class='row'>
			    <div class='form-group' style='width: 100%;'>
			        <textarea name="about_me" [(ngModel)]="user.about_me" class='form-control-gray'></textarea>
			    </div>
		    </div>
		    <div class='text-right'>
		      <input type="submit" (click)="update_profile()" value='Save' class='btn primary-btn btn-size-2x edu-btn-default-width'>
		    </div>
		    </div>
		  </div>
		</div>
	  </div>
	  <div class="tab-pane fade" id="education-info-tab" role="tabpanel">
        <div class='edu-panel-default'>
		  <div class='panel-header'> Education </div>
		  <div class='edit-education-display-panel' *ngFor="let edu of educations; let ind = index;">
		    <a href="javascript:void(0);" (click)="initEducation(ind)" class='edit-education-link'> 
		      <i class="fa fa-pencil-square-o"></i> 
		    </a>
		  	<h3> {{edu.institution}} </h3>
		  	<p> {{edu.degree}} </p>
		  	<p> 
		  	  <span> {{edu.from_month}} {{edu.from_year}} - </span> <span *ngIf="edu.is_continue"> present </span>
		  	  <span *ngIf="!edu.is_continue"> {{edu.to_month}} {{edu.to_year}} </span> | {{edu.city}}, {{edu.country}} 
		  	</p>
		  </div>
		  <div class='panel-body' *ngIf="education">
			  <div class='inner-panel'>
			  <div class='col-lg-12'>
		      	  	  <div class='row'>
		      	  	  	<div class='col-sm-6'>
		      	  	  	  <div class='form-group'>
		                    <label class='edu-label-default'> School/Collage/University </label>
		                    <input type="text" name='institution' [(ngModel)]="education.institution" class='form-control-gray'>
		      	  	  	  </div>
		      	  	  	</div>
		      	  	  	<div class='col-sm-6'>
		      	  	  	<div class='form-group'>
		                    <label class='edu-label-default'> Website </label>
		                    <input type="text" name='website' [(ngModel)]="education.website" class='form-control-gray'>
		      	  	  	  </div>
		      	  	  	</div>
		      	  	  </div>
		      	  	  <div class='row'>
		      	  	  	<div class='col-sm-6'>
		      	  	  	  <div class='form-group'>
		                    <label class='edu-label-default'> Class/Level/Degree </label>
		                    <input type="text" name='degree' [(ngModel)]="education.degree" class='form-control-gray'>
		      	  	  	  </div>
		      	  	  	</div>
		      	  	  	<div class='col-sm-6'>
		      	  	  	  <div class='form-group'>
		                    <label class='edu-label-default'> Subject </label>
		                    <input type="text" name='subject' [(ngModel)]="education.subject" class='form-control-gray'>
		      	  	  	  </div>
		      	  	  	</div>
		      	  	  </div>
		      	  	  <div class='upload-avatar'>
		      	  	  	<label class='edu-label-default'> Location </label>
		      	  	  </div>
		      	  	  <div class='row'>
		      	  	  	<div class='col-sm-5'>
		      	  	  	  <div class='form-group'>
		                    <select name='country' [(ngModel)]="education.country" class='form-control-gray'>
		                      <option value='Bangladesh'> Bangladesh</option>
							  <option value='India'> India</option>
							  <option value='Nepal'> Nepal</option>
							  <option value='Others'> Others</option>
		                    </select>
		      	  	  	  </div>
		      	  	  	</div>
		      	  	  	<div class='col-sm-5'>
		      	  	  	  <div class='form-group'>
		                    <input type="text" name='city' [(ngModel)]="education.city" class='form-control-gray'>
		      	  	  	  </div>
		      	  	  	</div>
		      	  	  </div>
		      	  	  <div class='row'>
		      	  	  	<div class='col-sm-6'> 
		      	  	  	    <label class='edu-label-default'> Starting From </label>
		      	  	  	    <div class='row'>
		      	  	  			<div class='col-sm-6'>
		      	  	  				<select name='country' [(ngModel)]="education.from_month" class='form-control-gray'>
				                      <option [ngValue]="null"> Month </option>
				                      <option *ngFor="let month of months" [ngValue]="month"> {{month}} </option>
				                    </select>
		      	  	  			</div>
		      	  	  			<div class='col-sm-6'>
		      	  	  				<select name='country' [(ngModel)]="education.from_year" class='form-control-gray'>
				                      <option [ngValue]="null"> Year </option>
				                      <option *ngFor="let year of years" [ngValue]="year"> {{year}} </option>
				                    </select>
		      	  	  			</div>
		      	  	  		</div>
		      	  	  	</div>
		      	  	  	<div class='col-sm-6'> 
                            <label class='edu-label-default'> Ending In </label>
                            <div class='row' *ngIf="!education.is_continue">
                               <div class='col-sm-6'>
		      	  	  				<select name='country' [(ngModel)]="education.to_month" class='form-control-gray'>
				                      <option [ngValue]="null"> Month </option>
				                      <option *ngFor="let month of months" [ngValue]="month"> {{month}} </option>
				                    </select>
		      	  	  			</div>
		      	  	  			<div class='col-sm-6'>
		      	  	  				<select name='country' [(ngModel)]="education.to_year" class='form-control-gray'>
				                      <option [ngValue]="null"> Year </option>
				                      <option *ngFor="let year of years" [ngValue]="year"> {{year}} </option>
				                    </select>
		      	  	  			</div>
		      	  	  		</div>
		      	  	  		<div>
		      	  	  		    <label style='font-size: 12px;'>
		      	  	  		    	<input type="checkbox" class='mb0' name="is_continue" [(ngModel)]="education.is_continue"/> Continue
		      	  	  		    </label>
		      	  	  		</div>
		      	  	  	</div>
		      	  	  </div>
		      	  	  <div class='edu-form-group mt5'>
		      	  	    <label class='edu-label-default'> Details </label>
		      	  	    <textarea name="details" [(ngModel)]="education.details" class='form-control-gray'></textarea>
		      	  	  </div>
		      	  	  <div class='actions text-right'>
		      	  	    <input *ngIf="!education.id" type="submit" (click)="addEducation()" value='Add Education' class='btn default-btn btn-size-2x mr10 edu-btn-default-width'>
		      	  	    <input *ngIf="education.id" type="submit" (click)="updateEducation()" value='Update Education' class='btn default-btn btn-size-2x mr10 edu-btn-default-width'>
		      	  	    <input type="submit" (click)="cancelEducation()" value='Cancel' class='btn default-btn btn-size-2x edu-btn-default-width'>
		      	  	  </div>
		      	  	</div>
			  </div>
		  </div>
		  <a class='edu-link-default edu-font-sx' (click)="initEducation()" href="javascript:void(0);"> + Add Education </a>
		</div>
	  </div>
	  <div id='language-info-tab' class="tab-pane fade" role="tabpanel">
        <div class='edu-panel-default'>
		  <div class='panel-header'> Languages </div>
		  <div class='panel-body'>
		    <div class='inner-panel'>
		    	<div class='row'>
		    	  <div class='col-lg-12'>
		    	    <div class='row'>
		    	      <div class='col-sm-7'>
			    	      <div class='edu-form-group'>
			    	      	<label class='edu-label-default'> Language </label>
			    	        <input type="text" name='language' class='form-control-gray'>
			    	      </div>
		    	      </div>
		    	      <div class='col-sm-5'>
		    	        <div class='edu-form-group'>
			    	      <label class='edu-label-default'> Proficiency Lavel </label>
			    	      <select name='proficiency_level' class='form-control-gray'>
		                    <option value="nativ"> Native </option>
		                    <option value="other"> Others </option>
			    	      </select>
			    	    </div>
		    	      </div>
		    	    </div>
		    	  </div>
		    	</div>
		    	<div class='actions text-right'>
		    	  <input type="submit" (click)="not_implemented()" value="Add Language" class='btn default-btn btn-size-2x mr10 edu-btn-default-width'>
		    	  <input type="submit" (click)="not_implemented()" value="Cancel" class='btn default-btn btn-size-2x edu-btn-default-width'>
		    	</div>
		    </div>
		    <a class='edu-link-default edu-font-sx' (click)="not_implemented()" href='#'> + Add Language </a>
		  </div>
		</div>
	  </div>
	</div>
  </div>
 </div>
</div>
</div>
</div>