<div class="sub-nav">
  <ul class="sub-nav-ul-style">
    <li><a href="#">Profile</a></li>
    <li><a href="#" class="active">Home</a></li>
  </ul>
</div>
<div id="edit-course">
  <div class='container'>
    <div class='col-sm-12'>
      <div class='row'>
        <div class='col-sm-3'>
          <app-subnav></app-subnav>
        </div>
        <div class='col-sm-9'>
          <div class='edit-course-dashboard'>
            <div class="sub-top-nav">
              <ul class="common-ul-style">
                <li>
                  <a href="#">My Dashboard</a><span class="fa fa-arrow-right"></span>
                </li>
                <li>
                  <a href="#">Courses</a><span class="fa fa-arrow-right"></span>
                </li>
                <li>
                  <a href="#" class="active">Course Management</a><span class="fa fa-arrow-right"></span>
                </li>
              </ul>
            </div>

            <div class="edit-body">
              <div class="row">
                <div class="col-sm-3">
                  <img src="/assets/images/envelope-large.png" class="img-responsive" alt="">
                </div>
                <div class="col-sm-6">
                  <strong>Lorem ipsum doalar set</strong>
                  <p>Draft</p>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <a href="#" class="settings-default-btn">Course Settings</a>
                  </div>
                </div>
              </div>

              <div class="inner-tab">
                <div class="row">
                  <div class="col-sm-3">
                    <ul>
                      <li><a href="">Course Goals</a></li>
                      <li><a href="">Curriculum</a></li>
                      <li><a href="">Course Details</a></li>
                      <li><a href="">Price</a></li>
                      <li><a href="">Captions</a></li>
                      <li><a href="">Tutor Message</a></li>
                      <li><a href="">Exam</a></li>
                    </ul>
                    <div class="form-group">
                      <a href="" class="guest-default-btn">Submit for Review</a>
                    </div>
                  </div>
                  <div class="col-sm-9">
                    <div class="inner-tab-header">
                      <h3>Curriculum</h3>
                      <a href="" class="settings-default-btn">Upload Multiple Files</a>
                      <a href="" class="settings-default-btn">Preview</a>
                    </div>
                    <div class="inner-tab-body">
                      <p>Create curriculum by adding lecture and resource.</p>
                      <div class="curriculum-table">

                      </div>
                    </div>
                  </div>
                </div>
              </div>


            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>